{% extends 'base.html.twig' %}

{% block content %}
    <div class="large-container large-container--white">
        <div class="hero hero--commitment">
            <div class="hero__container">
                <div class="hero__inner">
                    {#<h2 class="hero__title">Compromisos</h2>#}
                    {#<div class="hero__text">Lore ipsum</div>#}
                    <img src="{{ asset('images/compromiso-hero-3.jpg') }}" class="hero__bg">
                </div>
            </div>
        </div>
    </div>
    <div class="large-container large-container--white">
        <div class="com">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="section-title section-title--com">Con el medio ambiente</div>
                        <div class="com__text">
                            <strong>Reciclamos</strong>
                            <p>Una de las razones más importantes a la hora de seleccionar nuestros socios, son sus programas de reciclado de residuos. Pensamos en el impacto de nuestras acciones en todas las fases del proyecto: qué productos y servicios vamos a ofrecer, qué residuos generan, cómo se van a tratar estos residuos y finalmente qué se hará con los equipos retirados u obsoletos.</p>

                            <p>Nuestro laboratorio, evalúa el estado de los equipos retirados, e intentamos darles una segunda oportunidad convirtiéndolos en Reutilizados/Puesto a Nuevo. Con estos equipos te beneficias de tarifas más bajas y contribuyes a la conservación del medio ambiente.</p>


                            <strong>Usamos tecnologías de impresión más respetuosas y sostenibles.</strong>

                            <p>En Docutea estamos continuamente probando nuevas tecnologías de impresión. Actualmente hemos incorporado a nuestro porfolio equipos con tecnología de inyección de tinta profesional. Son equipos muy silenciosos, consumen muy poca energía, imprimen a velocidades de hasta 80 ppm, no necesitan prácticamente mantenimiento, y lo mejor, no generan residuos.</p>

                            <strong>Trabajamos con proveedores comprometidos con el Medio Ambiente.</strong>

                            <p>Todos nuestros proveedores cumplen estrictamente las normativas vigentes en la fabricación y retirada de sus productos, tanto en los países donde se fabrican, como donde se comercializan.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="com__item com__item--alt">
                            <div class="section-title section-title--alt section-title--com">Con las empresas</div>
                            <div class="com__text">
                                <strong>Contratar nuestros servicios no afecta a la capacidad financiera.</strong>

                                <p>Olvídate de las cargas financieras. Te proveemos de todo lo necesario para que tus impresiones estén ahí cuando las necesites y solo pagas una cuota mensual compuesta por una parte fija (alquiler de equipos) + variable (consumibles utilizados)</p>

                                <strong>Los servicios que ofrecemos son 100% desgravables.</strong>

                                <p>Como cualquier suministro electricidad, internet, teléfono…</p>

                                <strong>Podrás mantener tu presupuesto totalmente controlado (cuota fija mensual).</strong>

                                <p>Además, cotizamos por estimación, y a los 12 meses reconciliamos. Siempre sabrás lo que están costando tus impresiones. Si a lo largo de los periodos de reconciliación detectamos desviaciones importantes sobre la estimación te lo comunicaremos.</p>

                                <strong>Somos flexibles y nos adaptamos a cada cliente.</strong>

                                <p>No te preocupes por el futuro. Si a lo largo del proyecto tus necesidades de impresión cambian, Docutea cambia contigo: sustitución de equipos, nuevos servicios, etc.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}