{% extends 'base.html.twig' %}

{% block content %}
    <div class="large-container large-container--white static-container">
        <div class="hero hero--commitment">
            <div class="hero__container">
                <div class="hero__inner">
                    <h1><span>Condiciones de contratación</span></h1>


                    <p></p>Fecha de la última revisión: noviembre de 2019</p>

                    <p>Estas condiciones generales de contratación (en adelante referidas como CG) regulan expresamente el arrendamiento de servicios de los clientes (en adelante el “Cliente” o Clientes”) a DOCUTEA, S.L a través de la web www.docutea.com (en adelante referida como la “Plataforma”) propiedad de la sociedad DOCUTEA, S.L</p>
                    
                    <p>DOCUTEA, S.L, es una sociedad domiciliada en la Calle Amado Nervo 4 en Madrid y su número de NIF es B88096466 (“DOCUTEA”) Inscrita en el Registro Mercantil de Madrid en el Tomo 37643, Folio 81, Sección 1ª, Hoja 670723</p>
                    
                    <p>MAIL: notificaciones@docutea.com</p>
                    
                    
                    <p>DOCUTEA ofrece a sus clientes la posibilidad de contratar sus servicios a través de la Plataforma, en las condiciones que aquí se especifican (en adelante referidas como CG) y en las condiciones particulares según la modalidad de servicio y producto seleccionada por el Cliente en la configuración del servicio (en adelante referidas como CP).</p>
                    <p>En todo caso, la contratación de los servicios ofrecidos a través de la Plataforma (en adelante referidos como el/los Servicio/s) implica que el Cliente declara ser mayor de edad, tener plena capacidad para contratar y la aceptación y cumplimiento de las presentes CG por lo que, con anterioridad al acceso y/o contratación de dichos servicios, el cliente deberá leer atentamente todas las condiciones aquí recogidas así como las CP aplicables a cada tipo de servicio.</p>
                    
                    <p>DOCUTEA se reserva el derecho a realizar las modificaciones que considere oportunas, sin aviso previo, en las Condiciones Generales. Dichas modificaciones podrán realizarse, a través de su Plataforma, por cualquier forma admisible en derecho y serán de obligado cumplimiento durante el tiempo en que se encuentren publicadas en la web y hasta que no sean modificadas válidamente por otras posteriores. </p>
                    



                    <ol>
                        <li><h3>Objeto del contrato:</h3>
                            <p><u>La contratación de los servicios incluye:</u></p>
                            
                            <ul>
                                <li>Aceptada por DOCUTEA la solicitud de servicios por parte del Cliente y, en su caso, entregadas por parte de este las garantías solicitadas por DOCUTEA, el Cliente podrá continuar con la cumplimentación a través de la Plataforma sobre la selección de la forma de pago de los servicios por cualquiera de los medios de pago admisibles así como sus datos bancarios. </li>
                            </ul>
                            <p>Cuando el Cliente realice una contratación a través de la Plataforma acepta contratarlos al precio y con los términos vigentes en cada momento. DOCUTEA enviará al Cliente un correo electrónico para confirmarle la contratación.</p>
                            <p>En todo caso, DOCUTEA se reserva el derecho de no aceptar pedidos comunicándolo siempre al Cliente.</p>
                            <p>Algunos de los motivos por lo que DOCUTEA podrá no aceptar pedidos son:</p>
                            <ul>
                                <li>La dirección de entrega se encuentra fuera del territorio Peninsular español.</li>
                                <li>Si en el momento de seleccionar un equipo no hubiera existencias del mismo disponibles (no podrá añadir dicho producto en la cesta de la compra). </li>
                                <li>Si el Cliente no realiza el pago con alguno de los métodos de pago mostradas en la Plataforma. </li>
                            </ul>
                        </li>
                
                        <li><h3>Cuenta de registro del Cliente</h3>
                            <p>Con el registro en el servicio de DOCUTEA, se creará la cuenta de registro ("cuenta de usuario"), que incluirá los datos necesarios para la identificación del Cliente y realizar las operaciones asociadas al servicio.</p>
                            <p>cuenta del usuario, éste podrá acceder a sus datos personales con su nombre de usuario y contraseña, lo que debería mantener en estricta confidencialidad. La cuenta de usuario incluirá un registro ordenado o histórico de las transacciones efectuadas.</p>
                            <p> El Cliente es responsable de la custodia, uso diligente y mantenimiento de la confidencialidad de las contraseñas, claves de acceso o sistemas de cifrado o encriptación de comunicaciones, que sean facilitados por DOCUTEA en relación con el Servicio.</p>
                        </li>


                        <li><h3>Entrega, obligación de inspección e idoneidad </h3>
                            <p>DOCUTEA hará llegar el equipo a la dirección de entrega, dentro de Península, indicada por el Cliente, y la factura detallada por Correo Electrónico a también señalada por el Cliente.</p>
                            <p>Para entregas fuera de la Península, contactar en info@docutea.es</p>
                            <p>La puesta en funcionamiento de los bienes correrá por cuenta y riesgo de DOCUTEA, salvo cuando DOCUTEA informe al cliente con carácter previo a la entrega que no se hace cargo de la puesta en funcionamiento. En el momento de la entrega al cliente, deberá inspeccionarlo con la diligencia razonable, a fin de verificar que está exento de defectos, y comprobar su correcto funcionamiento y su adecuación al contrato. Tras la verificación, el cliente deberá firmar  el albarán o la confirmación de entrega que le proporcione el proveedor, en virtud de los cuales confirme que los bienes objeto del contrato le han sido debidamente entregados por el arrendador y con los electos que allí se indiquen.</p>
                            <p>DOCUTEA no garantiza al cliente la idoneidad de los bienes arrendados ni de sus partes integrantes. El cliente se obliga a dirigirse únicamente al proveedor, y a tal fin, queda subrogado en la posición jurídica de DOCUTEA, en orden al ejercicio de las acciones incumbieran a DOCUTEA como adquirente frente al proveedor o fabricante por razón del material adquirido, anomalías y el servicio de rnantenimiento propios del contrato de venta del material que deba prestar el proveedor o fabricante que prestarán directamente al cliente. quien será el único usuario posible y autorizado.</p>
                        </li>

                        <li><h3>Mantenimiento</h3>
                            <p>El cliente se obliga a usar los bienes arrendados tan solo para los fines convenidos, conforme a las recomendaciones del fabricante o proveedor, así como cuidarlo con un debido mantenimiento. Salvo lo dispuesto en la cláusula 1 de este contrato, los demás gastos correrán a cargo exclusivo del Cliente.</p>
                            <p>Cualquier modificación o alteración en el bien (incluso el emplazamiento) requerirá el previo consentimiento escrito de DOCUTEA. El cliente estará obligado a comunicar por escrito a DOCUTEA, sin dilación, todos los efectos negativos, los posibles defectos futuros o ya incluidos sobre la cosa arrendada (p. ej., la amenaza o realidad de una ejecución o administración forzosa sobre los bienes arrendados o la finca en la cual se ubique) y facilitar la información necesaria para proteger el derecho de DOCUTEA. La ejecución del contralo de arrendamiento no se suspenderá por la reclamación de cualquier defecto y el cliente seguirá obligado al pago de las rentas.</p>
                            <p>En caso de que el Cliente detecte una avería en el equipo o un mal funcionamiento deberá ponerse en contacto con el servicio de atención técnica de DOCUTEA llamando al número 902909911.</p>
                        </li>

                        <li><h3>Duración del contrato.</h3>
                            <p>El periodo inicial, de cumplimiento mínimo obligatorio de este contrato será el configurada por el cliente en la selección de las condiciones particulares del servicio (12, 24, 36, 48 meses), empezará a contar (fecha de inicio) el primer día del mes siguiente a la fecha de entrega de los bienes arrendados.</p>
                            <p>El contrato se renovará de forma automática por periodos de duración de 12 meses salvo que cualquiera de las partes preavise a la otra con treinta (30.-) días de anticipación a la finalización de su vigencia inicial o de cualquiera de sus prórrogas.</p>
                            <p>El cliente no podrá resolver unilateralmente el contrato hasta, como mínimo. el final de la duración del arrendamiento inicialmente convenida. La resolución deberá realizarse por escrito. Tras la finalización del contrato o cualquiera de sus prórrogas, el cliente  estará obligado a devolver los bienes en los términos indicados en este contrato.</p>
                            <p>En caso de finalizar el contrato de forma anticipada, el cliente reconoce el derecho de DOCUTEA a cobrar una penalización por un importe igual al resultado de multiplicar la cuota fija del Cliente por los meses restantes hasta la finalización del Contrato.</p>
                        </li>


                        <li><h3>Precios.</h3>
                            <p>El Cliente pagará un precio por el servicio que está compuesto de una cuota fija y una cuota variable, según las CP seleccionadas por el Cliente en la configuración de su servicio. </p>
                            <p>La cuota fija será la seleccionada por el Cliente en la configuración de su servicio.</p>
                            <p>La cuota variable se fijará atendiendo al consumo de consumibles o fungibles por parte del Cliente. El cálculo de la cuota se basará en los costes totales (Cartuchos, tambores, Kits de mantenimiento, piezas de recambio y servicios necesarios) y será ajustada anualmente atendiendo al consumo real del año anterior. </p>
                            <p>La cuota variable es una estimación que se ajustará al vencimiento de cada anualidad, de la siguiente forma: el consumo real de (Cartuchos de tóner o tinta) enviados se confrontará con el consumo estimado, y la diferencia, en caso de infra-consumo, será deducida de las cuotas mensuales/trimestrales del siguiente año, y en caso de sobre-consumo, será facturada en un único cargo en la fecha en que se cumpla el año. La información sobre consumo real de fungibles será utilizada para actualizar la previsión del año siguiente.</p>
                            <p>Los precios podrán ser incrementados o reducidos anualmente por DOCUTEA al vencimiento de cada anualidad a computar desde la fecha de Inicio. El porcentaje de incremento o decremento de los precios estará directamente ligado con cualquier incremento o decremento en el precio de la lista de precios de fungibles  y servicios del fabricante, publicada y en vigor en la fecha de vencimiento de cada anualidad desde la fecha de inicio de los servicios contratados, y basados en el mismo número de fungibles que se usaron en la fijación de la cuota del año anterior, así como en la variación del IPC anual correspondiente.</p>
                            <p>Los precios así actualizados, serán comunicados por escrito por DOCUTEA al Cliente a través del mail comunicado por este en sus datos de registro, y sustituirán a los que acompañan a este contrato, pasando a ser parte del mismo.</p>
                            <p>Los precios reflejados en la Plataforma son precios y servicios para ESPAÑA PENINSULAR, fuera de este territorio los precios podrán sufrir variaciones.</p>
                            <p>Los precios indicados en este contrato no incluyen IVA y se expresan en Euros.</p>
                        </li>


                        <li><h3>Facturación y forma de pago.</h3>
                            <p>La cuota fija se facturará mensualmente el primer día de cada mes</p>
                            <p>La cuota variable se facturará mensualmente según una estimación de consumo el primer día de cada mes. Al final de cada anualidad se regularizará la cuota variable estimada de consumo con lo realmente consumido por el Cliente y DOCUTEA generará una factura (de cargo o de abono) para la regularización de los costes. En caso de generar un abono, este será compensado con las facturas de las mensualidades siguientes hasta su total liquidación. Y en caso de generarse una factura en la regularización, esta se abonará en el mes siguiente.</p>
                            <p>La forma de pago será mediante domiciliación bancaria o cargo en tarjeta.</p>
                            <p>El Cliente, (i) declara que está autorizado para usar el método de pago que ha proporcionado y que toda información de pago que haya proporcionado es cierta y exacta; (ii) autoriza a DOCUTEA para cobrarle por los Servicios a través del método de pago proporcionado.</p>
                            <p>El Cliente autoriza a DOCUTEA a cargar en su tarjeta de crédito o débito, todos los servicios contratados a DOCUTEA. Desde el momento en que el Cliente contrata el servicio a DOCUTEA , se podrá efectuar inmediatamente el cargo en la tarjeta de crédito o débito o en el método de pago autorizado. No obstante, el cargo en la cuenta podrá realizarse en fecha posterior a la transacción.</p>
                            <p>En caso de domiciliación bancaria, el Cliente autoriza a DOCUTEA a solicitar a su banco el pago de las cantidades debidas a DOCUTEA. Debe garantizar que: (i) ha proporcionado una dirección de correo electrónico válida para correspondencia y notificaciones; (ii) su banco aceptará los cargos; (iii) dispone de suficientes fondos en cualquier fecha de vencimiento; y (iv) su orden no ha sido cancelada o revocada. El incumplimiento de estos términos y el consiguiente impago no le exime de su obligación de pagar las cantidades debidas en la fecha de vencimiento. El Cliente se puede poner en contacto con DOCUTEA para cancelar esta orden o seleccionar otra forma de pago. Cancelaremos la orden una vez recibida su notificación. La domiciliación está disponible a nuestra discreción, por lo que en caso de que no esté disponible nos pondremos en contacto con usted para acordar una alternativa.</p>
                            <p>El Cliente reconoce expresamente a DOCUTEA la posibilidad de cobrar una penalidad adicional en caso de imposibilidad de efectuar el cobro de la tarjeta de crédito o débito asociada y demás métodos de pagos autorizados, por cada transacción fallida. El importe de las penalidades será de un 1% del importe de la transacción. </p>
                            <p>El Cliente manifiesta que reconoce el derecho de DOCUTEA a cobrar una penalización por la existencia de saldos pendientes de pago en la cuenta del Cliente, equivalente a un uno por ciento (__1_%) de los importes pendientes de pago, en concepto de penalización por el reclamo de posiciones deudoras, así como un interés de demora igual al interés legal del dinero incrementado en un dos por ciento (2%). Para el cobro de las cantidades adeudadas DOCUTEA podrá ejecutar los depósitos, fianzas o demás garantías establecidas.</p>
                            <p>Los pagos y cargos realizados en la cuenta de Cliente se realizarán a través de una plataforma de pago segura y certificada, garantizando la privacidad y confidencialidad de cada transacción. </p>
                            <p>El cliente no debe dejar abierta la página Web de DOCUTEA donde aparezcan sus datos logeados, bien sea en un PC o en un móvil, dado que esto podría ser utilizado por otras personas, de manera fraudulenta. DOCUTEA no se responsabilizará de los cargos acometidos en su cuenta, cuando éstos hayan podido venir por un mal uso de estos entornos por parte del cliente.</p>
                            <p>El Cliente acepta expresamente la emisión de factura electrónica que se le remitirá por correo electrónico. El Cliente podrá optar por la factura en papel en cualquier momento durante la vigencia del Contrato.</p>
                            <p>En caso de equivocación en la factura, DOCUTEA lo corregirá inmediatamente después de que el Cliente haya informado al respecto e investiguemos el cobro. El Cliente debe informar a DOCUTEA en un plazo de 120 días después de que aparezca un error por primera vez en la factura. Si no se informa en dicho periodo, el Cliente exime a DOCUTEA de toda responsabilidad y reclamación por pérdidas derivadas del error causado por una negligencia leve, y no existirá obligación a corregir el error ni a ofrecerle el reembolso. En cualquier otro caso, si DOCUTEA identifica un error de facturación, informará al Cliente y tomará las medidas necesarias para corregirlo lo antes posible.</p>
                        </li>


                        <li><h3>Suspensión del servicio.</h3>
                            <p>El retraso en el pago total o parcial por parte del Cliente podrá dar lugar por parte de DOCUTEA  a la suspensión de la prestación del servicio, previo aviso. </p>
                            <p>Cuando DOCUTEA tenga constancia de que un Cliente ha abonado la deuda, restablecerá el Servicio en un plazo de un (1) día laborable desde que exista tal constancia. </p>
                            <p>La suspensión del Servicio no exime al Cliente de la obligación  de continuar con el pago de las cuotas que puedan devengarse y que se correspondan con el servicio contratado. </p>
                            <p>DOCUTEA podrá suspender de manera temporal o definitiva el servicio, previa comunicación al Cliente, en casos de uso ilícito, fraude, o por otras razones suficientemente acreditadas o por falta de constitución de la garantía solicitada por DOCUTEA de conformidad con la Condición General 10. </p>
                        </li>


                        <li><h3>Terminación de contrato.</h3>
                            <p>Causas de terminación:</p>
                            <p>El presente Contrato podrá resolverse por las causas generales de resolución de los contratos, así como en caso de que: 
                                <ul>
                                    <li>a) Cualquier de las partes comunique a la otra de forma fehaciente con 30 días de antelación a la fecha de terminación de la duración seleccionada por el Cliente, o cualquiera de sus prórrogas, su deseo de no renovar el Contrato. En caso contrario este se renovará por periodo de igual duración al inicialmente seleccionado por el Cliente. </li>
                                    <li>b) DOCUTEA quedará facultado para resolver anticipadamente el contrato de arrendamiento. sin observar plazo de preaviso alguno, por demora en cualquiera de los pagos de incumplimiento de cualquiera de las obligaciones del presente contrato, cuando concurran los requisitos legales.</li>
                                    <li>c) Por otras razones suficientemente acreditadas.</li>
                                </ul>
                            </p>
                            <p><strong>Consecuencias de la terminación el Contrato: </strong></p>
                            <p>Sin perjuicio de cualquier otro derecho que pueda corresponder a DOCUTEA al amparo de este Contrato, en caso de terminación del contrato, por cualquier casusa, el cliente estará obligado a devolver los bienes objeto del contrato a DOCUTEA en el plazo de siete días naturales a computar desde la notificación o intento de notificación del requerimiento fehaciente al efecto, con todos los gastos a cargo del cliente y con seguro de transporte, a la dirección empresarial de DOCUTEA indicada en el presente contralo o a un tercero designado por el este, cuya sede esté más próxima a la sede del cliente.</p>
                            <p>Los bienes arrendados deberán encontrarse en estado de correcto funcionamiento, teniendo en cuenta el desgaste ocasionado por su uso ordinario. En el supuesto de que los bienes arrendados sean software, programas de ordenador y/o aplicaciones informáticas, la devolución de dichos bienes se completará mediante el retorno a DOCUTEA de los soportes, materiales de instalación e instrucciones y la desinstalación de los mismos por parle del cliente.</p>
                            <p>En el <strong>supuesto de que el arrendatario no devuelva los bienes</strong> conforme a establecido en este contrato, ya sea por causa de terminación del contralo o de resolución anticipada, deberá pagar a DOCUTEA, en concepto de cláusula penal, expresa y específicamente pactada, por cada uno de los días naturales de retraso en dicha devolución un 1/30 de la renta o alquiler mensual pactado en este contralo de arrendamiento. Esta penalidad aplicará de forma cumulativa y liquidatoria y sin perjuicio de las consecuencias propias de la resolución contractual. Durante el tiempo que transcurra hasta que et arrendatario devuelva lo arrendado permanecerán vigentes todas las obligaciones dimanantes de este contrato.</p>
                            <p>En ningún caso la resolución del Contrato eximirá al Cliente de sus obligaciones de pago frente a DOCUTEA por la utilización del Servicio, arrendamiento de los bienes o por cualquier otro concepto.</p>
                            <p>La terminación de este Contrato no afectará cualesquiera otros derechos o remedios a los que una parte tenga derecho al amparo del presente Contrato o de la Ley.</p>
                        </li>
                        <li><h3>Garantías.</h3>
                            <p><strong>Garantías de DOCUTEA</strong></p>
                            <p>DOCUTEA manifiesta y garantiza que su Plataforma está técnicamente preparada para la contratación de los servicios que ofrece. DOCUTEA hace sus mejores esfuerzos para que la información que aparece sea correcta, pero no puede garantizar la exactitud en las descripciones. La descripción de los equipos pueden sufrir pequeñas variaciones en cuanto a las especificaciones, colores u otras características de diseño.</p>
                            <p>DOCUTEA no otorga garantías sobre los resultados que puedan obtenerse del uso de los productos o servicios contratados, ni sobre la plena fiabilidad o inexistencia de errores de los mismos.</p>
                            <p>DOCUTEA reparará los equipos que no funcionen correctamente que procedan del desgaste normal del equipo pero no de aquellas que procedan del uso inadecuado o poco diligente por parte del Cliente, tales como  elementos externos rotos, bandejas, cristales, tapas. etc. o daños causados por la utilización fuera de las especificaciones de uso indicadas en el manual de usuario (Ej.: Gramajes o tipos de papel inadecuados, etc.) </p>
                            <p>DOCUTEA no estará obligado a asumir el coste de la reposición de los consumibles dañados por utilización inadecuada o por el uso de materiales distintos a los indicados en las especificaciones detalladas en el manual de usuario (Ej.: Gramajes o tipos de papel inadecuados, etc.)</p>
                            <p><strong>Garantías del Cliente</strong></p>
                            <p>DOCUTEA podrá para garantizar el cumplimiento de las obligaciones del Cliente:
                                <ul>
                                    <li>a. Solicitar al Cliente la constitución de un depósito no remunerado en efectivo o el otorgamiento de un aval bancario con quince (15) días de antelación y en los términos fijados para cada caso en concreto. </li>
                                    <li>b. Solicitar al Cliente un adelanto en función del consumo anterior del mismo.</li>
                                    <li>c. Asignar al Cliente un límite de crédito.</li>
                                </ul>
                            </p>
                            <p>Estas medidas podrán ser adoptadas, entre otros, en supuestos como:
                                <ul>
                                    <li>- la existencia de cantidades impagadas por el Cliente por cualquier contrato, vigente o no, con DOCUTEA o con un tercero,</li>
                                    <li>- el retraso reiterado del Cliente en el pago de sus obligaciones con DOCUTEA </li>
                                    <li>- la existencia de un riesgo objetivo.</li>
                                </ul>
                            </p>
                            <p>En caso de constitución de depósito, éste será devuelto por DOCUTEA cuando quede acreditado que no ha existido ningún retraso en el pago de las facturas enviadas por DOCUTEA al Cliente y la devolución de los equipos. El plazo de devolución del depósito será de quince (15) días a contar desde el siguiente a aquél en el que se cumplan las circunstancias que permitan la devolución. En los demás casos, DOCUTEA podrá ejecutar la garantía por el total de la deuda pendiente a la terminación del contrato o por coste de/los equipos, en caso de no recuperarse en el plazo convenido.  </p>
                        </li>
                        <li><h3>Desistimiento.</h3>
                            <p>Desistimiento del servicio contratado:</p>
                            <p>Una vez realizada la contratación, el Cliente, <u>en caso de considerarse este “consumidor”</u>, podrá cancelar y desistir de dicha contratación en un plazo de 14 días naturales desde la celebración del contrato, con o sin causa justificada, siempre y cuando el servicio no haya sido prestado y haya informado por escrito a través del correo electrónico a notificaciones@docutea.com o a <strong>DOCUTEA, S.L.,</strong> domiciliada en la Calle Amado Nervo 4 en Madrid.  <a href="{{ asset('uploads/Modelo_de_Formulario_de_Desistimiento.pdf')}}" target="_blank">Modelo de comunicación de desistimiento</a></p>
                            <p>Al objeto de ejercitar su derecho, el Cliente podrá utilizar el modelo de formulario de desistimiento que considere más ajustado, o bien realizar declaración inequívoca que deje constancia de su decisión de desistir del contrato. </p>
                            <p>Consecuencias del desistimiento del servicio: </p>
                            <p>En caso de desistimiento del servicio, siempre y cuando sea consumidor y el mismo no se haya comenzado a prestar y los materiales estén sin desprecintar, y <strong></strong>siempre dentro del plazo de 14 días naturales desde el día de la contratación</strong>, DOCUTEA procederá a restituir el importe abonado a más tardar 15 días naturales a partir de la fecha en la que reciba la comunicación de la decisión de desistir del servicio contratado, descontados los gastos de recogida de los equipos y demás material entregado. DOCUTEA procederá a efectuar dicho reembolso.</p>
                        </li>
                        <li><h3>Responsabilidad.</h3>
                            <p>DOCUTEA no es responsable de (i) cualesquiera pérdidas que no fueran atribuibles a incumplimiento alguno por su parte, (ii) pérdidas empresariales (incluyendo lucro cesante, de ingresos, de contratos, de ahorros previstos, de datos, pérdida del fondo de comercio o gastos innecesarios incurridos), o de (iii) cualesquiera pérdidas indirectas o de carácter consecuencial que no fueran razonablemente previsibles por ambas partes en el momento en que se formalizó el contrato de compraventa de los productos entre ambas partes.</p>
                            <p>Asimismo DOCUTEA no será responsable de ninguna demora o incumplimiento de sus obligaciones derivadas de las presentes condiciones si dicha demora o incumplimiento fuera atribuible a circunstancias ajenas a nuestro control razonable. Esta disposición no afecta a su derecho a recibir el producto en un plazo razonable. </p>
                        </li>
                        <li><h3>Política de privacidad.</h3>
                            <p>En relación con tus datos personales, puede consultar nuestra Política de Privacidad <a href="{{ path('static_pages', {'nombrePagina':'politica-de-privacidad'}) }}" target="_blank">aquí</a>. </p>
                        </li>
                        <li><h3>Nulidad.</h3>
                            <p>La declaración de nulidad, ineficacia o invalidez de cualquiera de las presentes CG no afectarán a la validez de las restantes condiciones que permanecerán vigentes y serán vinculantes para las partes.</p>
                            <p>El no ejercicio por parte de DOCUTEA de cualquiera de los derechos manifestados en las presentes CG no se interpretará como renuncia a dicho derecho.</p>
                        </li>
                        <li><h3>Normativa aplicable</h3>
                            <p>Los contratos electrónicos se regirán por lo dispuesto en la Ley Sociedad de la Información y Comercio Electrónico, por los Códigos Civil y de Comercio y por las restantes normas civiles o mercantiles sobre contratos, en especial, las normas de protección de los consumidores y usuarios y de ordenación de la actividad comercial.</p>
                            <p>Serán competentes para su jurisdicción los Tribunales del domicilio del consumidor a fin de resolver las posibles diferencias que puedan surgir derivadas del presente contrato. En el supuesto de que, de acuerdo con la normativa de defensa de los consumidores y usuarios, el cliente no tenga la consideración de consumidor serán competentes para su jurisdicción los Tribunales de la ciudad de Madrid.</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
