{% extends 'base.html.twig' %}

{% block content %}
    <div class="large-container large-container--white static-container">
        <div class="hero hero--commitment">
            <div class="hero__container">
                <div class="hero__inner">
                    <h1><span>Condiciones de venta</span></h1>


                    <p></p>Fecha de la última revisión: noviembre de 2019</p>

                    <p>Estas condiciones generales de contratación (en adelante referidas como CG) regulan expresamente la venta de artículos a los clientes (en adelante el “Cliente” o Clientes”) de DOCUTEA, S.L a través de la web www.docutea.com (en adelante referida como la “Plataforma”) propiedad de la sociedad DOCUTEA, S.L</p>
                    
                    <p>DOCUTEA, S.L, es una sociedad domiciliada en la Calle Amado Nervo 4 en Madrid y su número de NIF es B88096466 (“DOCUTEA”) Inscrita en el Registro Mercantil de Madrid en el Tomo 37643, Folio 81, Sección 1ª, Hoja 670723</p>
                    
                    <p>MAIL: notificaciones@docutea.com</p>
                    
                    
                    <p>DOCUTEA ofrece a sus clientes la posibilidad de contratar sus servicios a través de la Plataforma, en las condiciones que aquí se especifican (en adelante referidas como CG) y en las condiciones particulares según el producto seleccionada por el Cliente (en adelante referidas como CP). </p>

                    <p>En todo caso, la compra de los productos ofrecidos a través de la Plataforma (en adelante referidos como el/los Producto/s) implica que el Cliente declara ser mayor de edad, tener plena capacidad para contratar y la aceptación y cumplimiento de las presentes CG por lo que, con anterioridad al acceso y/o contratación de dichos servicios, el cliente deberá leer atentamente todas las condiciones aquí recogidas así como las CP aplicables a cada tipo de servicio. </p>
                    
                    <p>DOCUTEA se reserva el derecho a realizar las modificaciones que considere oportunas, sin aviso previo, en las Condiciones Generales. Dichas modificaciones podrán realizarse, a través de su Plataforma, por cualquier forma admisible en derecho y serán de obligado cumplimiento durante el tiempo en que se encuentren publicadas en la web y hasta que no sean modificadas válidamente por otras posteriores. </p>
                    



                    <ol>
                        <li><h3>Objeto del contrato.</h3>
                            <p>El objeto de las presentes CG son la venta de productos informáticos.</p>
                        </li>
                
                        <li><h3>Proceso de contratación.</h3>
                            <p>El proceso de contratación de los servicios a través de la Plataforma consiste en los siguientes pasos:
                                <ul>
                                    <li>Carrito: El Cliente añade al carrito todos los productos de los que desea realizar su solicitud de pedido </li>
                                    <li>Datos del Cliente: datos del Cliente y dirección donde el Cliente desea que le enviemos la mercancía una vez DOCUTEA acepte y envíe su solicitud de pedido.</li>
                                    <li>Realización del Pago: el Cliente indicará todos los datos de su tarjeta para la realización del pago y aceptación del mismo.</li>
                                    <li>Fin Solicitud de Pedido: Fin del proceso por parte del cliente.</li>
                                    <li>Email Confirmación: Aceptación solicitud pedido por DOCUTEA: Confirmación por parte de DOCUTEA email de la aceptación o no de su solicitud de pedido y de la celebración o no del contrato de compraventa.</li>
                                </ul>
                            </p>
                            <p>Cuando el Cliente realice una contratación a través de la Plataforma acepta contratarlos al precio y con los términos vigentes en cada momento. DOCUTEA enviará al Cliente un correo electrónico para confirmarle la contratación.</p>
                            <p>En todo caso, DOCUTEA se reserva el derecho de no aceptar pedidos comunicándolo siempre al Cliente.</p>

                        </li>


                        <li><h3>Oferta de productos y precios.</h3>
                            <p>En cumplimiento de la normativa vigente y, en especial de la Ley 34/2002 de servicios de la sociedad de la información y del comercio electrónico, DOCUTEA ofrece información sobre los artículos en venta, sus características y precios. No obstante, DOCUTEA se reserva el derecho a retirar, reponer o cambiar los productos que se ofrecen a sus clientes a través de su Plataforma, mediante el simple cambio en el contenido de las mismas. De esta forma, los productos ofrecidos en cada momento por DOCUTEA se regirán por las Condiciones Generales vigentes en cada caso. Así mismo, DOCUTEA tendrá la facultad de dejar de ofrecer, sin previo aviso y en cualquier momento, el acceso a los productos mencionados. </p>
                        </li>

                        <li><h3>Indicación de los precios.</h3>
                            <p>Cada producto ofrecido tendrá indicado su precio y si tiene incorporado el IVA o cualquier otro impuesto que, en su caso, sea de aplicación. Los precios indicados en pantalla serán los vigentes en cada momento.</p>
                        </li>

                        <li><h3>Costes de envío. </h3>
                            <p>DOCUTEA realiza una cantidad fija en concepto de gastos de envío, que aparecerá indicada durante el proceso de su solicitud de Pedido.</p>
                            <p>DOCUTEA no realiza envíos fuera de la península (Baleares, Canarias y Melilla).</p>
                        </li>


                        <li><h3>Disponibilidad.</h3>
                            <p>La disponibilidad de los productos ofrecidos por DOCUTEA a través de Plataforma puede variar en función de la demanda de los clientes. Pese a que DOCUTEA actualiza el stock periódicamente, el producto solicitado por el cliente podría estar agotado en ese momento. En tal caso, DOCUTEA remitirá un e-mail al cliente informándole de la imposibilidad de dar cumplimiento a la solicitud de pedido. </p>
                            <p>En caso de que el Cliente haya decidido hacer el pago por adelantado de artículos sin stock y estos finalmente no estén disponibles y no desee solicitarlo, se le devolverá el importe íntegro pagado. Recuerde que si incluye un artículo sin stock junto a artículos con stock la solicitud de pedido quedará retenida hasta la confirmación final de todos los artículos, pudiendo sufrir retrasos en la entrega o cancelación total del pedido.</p>
                        </li>


                        <li><h3>Forma de pago. </h3>
                            <p>El pago para que el cliente pueda gestionar su solicitud de pedido será a través de tarjeta de crédito: A través del sistema de pago on line de Banco Santander.
                                Las forma de pago es totalmente segura y basadas en la seguridad SSL.</p>

                                <p>El Cliente autoriza a DOCUTEA a cargar en su tarjeta de crédito o débito, todos los servicios contratados a DOCUTEA. Desde el momento en que el Cliente contrata el servicio a DOCUTEA , se podrá efectuar inmediatamente el cargo en la tarjeta de crédito o débito o en el método de pago autorizado. No obstante, el cargo en la cuenta podrá realizarse en fecha posterior a la transacción.</p>
                                <p>El cliente no debe dejar abierta la página Web de DOCUTEA donde aparezcan sus datos logeados, bien sea en un PC o en un móvil, dado que esto podría ser utilizado por otras personas, de manera fraudulenta. DOCUTEA no se responsabilizará de los cargos acometidos en su cuenta, cuando éstos hayan podido venir por un mal uso de estos entornos por parte del cliente.</p>
                                <p>El Cliente acepta expresamente la emisión de factura electrónica que se le remitirá por correo electrónico. El Cliente podrá optar por la factura en papel en cualquier momento durante la vigencia del Contrato.</p>
                                <p>En caso de equivocación en la factura, DOCUTEA lo corregirá inmediatamente después de que el Cliente haya informado al respecto e investiguemos el cobro. El Cliente debe informar a DOCUTEA en un plazo de 120 días después de que aparezca un error por primera vez en la factura. Si no se informa en dicho periodo, el Cliente exime a DOCUTEA de toda responsabilidad y reclamación por pérdidas derivadas del error causado por una negligencia leve, y no existirá obligación a corregir el error ni a ofrecerle el reembolso. En cualquier otro caso, si DOCUTEA identifica un error de facturación, informará al Cliente y tomará las medidas necesarias para corregirlo lo antes posible.</p>
                            </li>


                        <li><h3>Entrega de la solicitud de pedido.</h3>
                            <p>Las solicitudes de pedidos se entregarán a su destinatario, como norma general, en un plazo de entre 24 y 48 horas días laborables desde la confirmación de la solicitud de pedido, en la mayor parte de la península, siempre y cuando la solicitud de pedido haya sido realizada por el cliente, confirmado este por DOCUTEA antes de las 16:00 horas excepto los viernes y julio y agosto, que será hasta las 14:00 horas. Existe la posibilidad de entrega en plazos mayores   día para algunas poblaciones, direcciones con dificultad de acceso o por causas de fuerza mayor que impidan a la agencia de transporte realizar la entrega en dicho plazo , circunstancias que son ajenas a DOCUTEA, recayendo por tanto toda la responsabilidad en la agencia de transporte. El Cliente podrá realizar un seguimiento de la entrega de su solicitud de pedido a través de la página web del transportista con la referencia que le será enviada por email en el momento de la salida de su solicitud de pedido de nuestros almacenes.</p>
                            <p>Los tiempos de entrega de las solicitudes de pedidos se verán directamente afectados por la disponibilidad de stock de los artículos que compongan la solicitud de pedido realizada por el cliente. Los posibles retrasos que puedan tener lugar o la imposibilidad de su envío serán comunicados por DOCUTEA vía correo electrónico. En caso de que DOCUTEA sea incapaz de cumplir con los requerimientos de entrega, dentro de un período razonable de tiempo, el único derecho del Cliente consistirá en cancelar el pedido.</p>
                            <p>DOCUTEA hará llegar el equipo a la dirección de entrega, dentro de Península, indicada por el Cliente, y la factura detallada por Correo Electrónico a también señalada por el Cliente.</p>
                            <p>Para entregas fuera de la Península, contactar en notificaciones@docutea.es</p>
                            <p>La puesta en funcionamiento de los bienes correrá por cuenta y riesgo del cliente. </p>
                            <p>En el momento de la entrega al cliente, deberá inspeccionarlo con la diligencia razonable, a fin de verificar que está exento de defectos, y comprobar su correcto funcionamiento y su adecuación al contrato. Tras la verificación, el cliente deberá firmar  el albarán o la confirmación de entrega que le proporcione el proveedor, en virtud de los cuales confirme que los bienes objeto del contrato le han sido debidamente entregados por el transportista y con los electos que allí se indiquen.</p>
                            <p>En caso de equipos golpeados, cajas abiertas, falta de bultos etc. EL cliente deberá comunicar por escrito sus reservas a la compañía de transportes o a sus auxiliares en el momento de la entrega del envío en destino. Si los daños no fueran manifiestos, las reservas deberán formularse dentro de los siguientes 7 días naturales a la entrega. En caso de retraso, deberán formularse las reservas escritas en el plazo de 21 días desde el siguiente al de la entrega del envío al destinatario. El plazo general de prescripción de las acciones derivadas del contrato de transporte terrestre es de un año.</p>
                            <p>DOCUTEA no garantiza al cliente la idoneidad de los bienes arrendados ni de sus partes integrantes. El cliente se obliga a dirigirse únicamente al proveedor, y a tal fin, queda subrogado en la posición jurídica de DOCUTEA, en orden al ejercicio de las acciones incumbieran a DOCUTEA como adquirente frente al proveedor o fabricante por razón del material adquirido, anomalías y el servicio de rnantenimiento propios del contrato de venta del material que deba prestar el proveedor o fabricante que prestarán directamente al cliente. quien será el único usuario posible y autorizado.</p>
                        </li>


                        <li><h3>Garantías.</h3>
                            <p>Podrías tener derecho a una garantía (la Garantía Comercial) que en tu caso pudiera otorgar el fabricante o un tercero. Generalmente el nombre de la entidad que otorga la Garantía Comercial, así como los términos y condiciones de la misma figura en la documentación incluida en el embalaje del producto, que te invitamos a leer y conservar en tu poder. DOCUTEA no será responsable del cumplimiento de las obligaciones previstas en la Garantía Comercial ofrecida por terceros.</p>
                            <p>DOCUTEA no garantiza al cliente la idoneidad de los bienes ni de sus partes integrantes. El cliente se obliga a dirigirse únicamente al proveedor, y a tal fin, queda subrogado en la posición jurídica de DOCUTEA, en orden al ejercicio de las acciones incumbieran a DOCUTEA como adquirente frente al proveedor o fabricante por razón del material adquirido, anomalías y el servicio de rnantenimiento propios del contrato de venta del material que deba prestar el proveedor o fabricante que prestarán directamente al cliente. quien será el único usuario posible y autorizado.</p>
                        </li>
                        <li><h3></h3>
                            <p>Desistimiento del servicio contratado (o válido para empresas y profesionales):</p>
                            <p>Una vez realizada la contratación, el Cliente podrá cancelar y desistir de dicha contratación en un plazo de 14 días naturales desde la celebración del contrato, con o sin causa justificada, siempre y cuando el servicio no haya sido prestado y haya informado por escrito a través del correo electrónico a notificaciones@docutea.es o a la dirección Calle Amado Nervo 4 en Madrid  <a href="{{ asset('uploads/Modelo_de_Formulario_de_Desistimiento.pdf')}}" target="_blank">Modelo de comunicación de desistimiento</a></p>
                            <p>En ningún caso se podrán devolver aquellos artículos que requieran de una configuración personalizada o lleven un software pre instalado y este sea instalado por el cliente, o hayan sido personalizados por el cliente. Tampoco aquellos artículos que puedan ser reproducidos y/o copiados (Programas de Gestión/Ofimática, Sistemas operativos, Antivirus, software, Video Juegos, Consolas con Video Juegos en discos incluidos y licencias electrónicas en general, etc., ni aquellos que sean consumibles y hayan sido des precintados. No se aceptarán productos que hayan sido probados o usados y después ya no se puedan vender por nuevos (Impresoras/Multifunción a las que se le instale el consumible, Cartucho de impresora, toners, consumibles en general, etc.). No se aceptará la devolución de productos de embalaje tipo "blíster" ya abiertos ni tampoco accesorios sueltos que sean complementos de otros productos.</p>
                            <p>En caso de hacer uso del desistimiento la devolución en la mercancía deberá de realizarlo a portes pagados a cargo del cliente.</p>
                            <p>Al objeto de ejercitar su derecho, el Cliente podrá utilizar el modelo de formulario de desistimiento que considere más ajustado, o bien realizar declaración inequívoca que deje constancia de su decisión de desistir del contrato. </p>
                            <p>Consecuencias del desistimiento del servicio: </p>
                            <p>En caso de desistimiento del servicio, <strong>siempre dentro del plazo de 14 días naturales desde el día de la contratación</strong>, DOCUTEA procederá a restituir el importe abonado a más tardar 15 días naturales a partir de la fecha en la que reciba la comunicación de la decisión de desistir del servicio contratado, descontados los gastos de recogida de los equipos y demás material entregado. DOCUTEA procederá a efectuar dicho reembolso.</p>

                        </li>
                        <li><h3>Responsabilidad.</h3>
                            <p>DOCUTEA no es responsable de (i) cualesquiera pérdidas que no fueran atribuibles a incumplimiento alguno por su parte, (ii) pérdidas empresariales (incluyendo lucro cesante, de ingresos, de contratos, de ahorros previstos, de datos, pérdida del fondo de comercio o gastos innecesarios incurridos), o de (iii) cualesquiera pérdidas indirectas o de carácter consecuencial que no fueran razonablemente previsibles por ambas partes en el momento en que se formalizó el contrato de compraventa de los productos entre ambas partes.</p>
                            <p>Asimismo DOCUTEA no será responsable de ninguna demora o incumplimiento de sus obligaciones derivadas de las presentes condiciones si dicha demora o incumplimiento fuera atribuible a circunstancias ajenas a nuestro control razonable. Esta disposición no afecta a su derecho a recibir el producto en un plazo razonable.</p>
                        </li>
                        <li><h3>Política de privacidad.</h3>
                            <p>En relación con tus datos personales, puede consultar nuestra Política de Privacidad <a href="{{ path('static_pages', {'nombrePagina':'politica-de-privacidad'}) }}" target="_blank">aquí</a>. </p>
                        </li>
                        <li><h3>Nulidad.</h3>
                            <p>La declaración de nulidad, ineficacia o invalidez de cualquiera de las presentes CG no afectarán a la validez de las restantes condiciones que permanecerán vigentes y serán vinculantes para las partes.</p>
                            <p>El no ejercicio por parte de DOCUTEA de cualquiera de los derechos manifestados en las presentes CG no se interpretará como renuncia a dicho derecho.</p>
                        </li>
                        <li><h3>Normativa aplicable.</h3>
                            <p>Los contratos electrónicos se regirán por lo dispuesto en la Ley Sociedad de la Información y Comercio Electrónico, por los Códigos Civil y de Comercio y por las restantes normas civiles o mercantiles sobre contratos, en especial, las normas de protección de los consumidores y usuarios y de ordenación de la actividad comercial.</p>
                            <p>Serán competentes para su jurisdicción los Tribunales del domicilio del consumidor a fin de resolver las posibles diferencias que puedan surgir derivadas del presente contrato. En el supuesto de que, de acuerdo con la normativa de defensa de los consumidores y usuarios, el cliente no tenga la consideración de consumidor serán competentes para su jurisdicción los Tribunales de la ciudad de Madrid.</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
