{% extends 'base.html.twig' %}

{% block content %}
    <div class="large-container large-container--white">
        <div class="hero hero--commitment">
            <div class="hero__container">
                <div class="hero__inner">
                    <h1><span>FAQS</span></h1>
                    <div>
<h4>¿Por qué cotizamos por tóner o cartuchos de tinta en vez de por páginas impresas?</h4>
<p>Por la cobertura de tóner de los distintos documentos. </p>
<p>Con las tecnologías de impresión láser, muchas veces, encontrábamos rendimientos adicionales en los cartuchos de hasta el 20%. Actualmente, con las tecnologías de impresión de tinta profesional, podemos encontrar rendimientos adicionales del 200%, 300%, 400%, reduciendo los costes de impresión de manera muy importante.</p>
¿Por qué imprimir 1000 páginas si puedes imprimir muchas más por el mismo precio?</p>

<h4>¿Cuota Fija + variable?</h4>
<p>En Docutea facturamos mensualmente. Y la factura está compuesta por una parte fija (alquiler de equipos, software, mantenimiento, monitorización, help desk e informes) y una cuota variable que incluye los consumibles utilizados durante la duración del contrato.</p> 

<h4>¿Facturación Variable anual por estimación?</h4>
<p>La parte variable de la cuota mensual corresponde a los consumibles que vas a utilizar en el primer año de contrato. Esta estimación la calculamos con los datos de volumen que nos indicas en el configurador, y al final del periodo confrontamos los consumibles estimados con los enviados y reconciliamos la diferencia. Así pagarás siempre por lo que imprimes.</p>

<h4>¿Periodo de contratación?</h4>
<p>Los periodos de contratación son de 12, 24, 36 y 48 meses. Si contratas por periodos más largos te beneficias de tarifas más económicas.</p>

<h4>¿Reconciliación?</h4>
<p>Cada 12 meses reconciliamos la parte variable de la cuota (consumibles enviados). Confrontamos el nº de consumibles estimados con los enviados, y utilizamos el consumo real del año anterior como estimación para el siguiente. Pagarás siempre sólo por los consumibles suministrados. </p>

<h4>¿No sé cuál es mi volumen de impresión?</h4>
<p>No te preocupes, solo tienes que saber cuánto papel compraste en los últimos meses. si, por ejemplo, compraste 2 paquetes de folios la última vez y te han durado 6 meses, divides las 1000 páginas entre los 6 meses y ya sabrás cuantas paginas imprimes al mes.</p>

<h4>¿No sé cuántas impresiones en color hago?</h4>
<p>Si no lo sabes exactamente, no te preocupes, todos nuestros equipos de color están preconfigurados con el 15%, déjalo así. </p><p>Recuerda que la parte variable (consumibles) se factura por estimación y se reconcilia anualmente. Si durante el periodo de reconciliación detectamos desviaciones importantes te lo comunicaremos.</p>

<h4>Nuestro porfolio de equipos</h4>
<p>Seleccionamos los mejores equipos de los mejores fabricantes. Todos nuestros equipos imprimen copian y escanean a doble cara de forma automática, e incluyen conectividad de red Ethernet por cable. Además, en muchos de ellos encontraras wifi, impresión desde dispositivos móviles y funciones de digitalización avanzadas. Puedes consultar las características en la sección de equipos.

<h4>Equipos Reutilizados/Puesto a nuevo</h4>
<p>Nuestro laboratorio, evalúa el estado de los equipos retirados para intentar darles una segunda oportunidad convirtiéndolos en Reutilizados/Puesto a Nuevo. Con estos equipos te beneficias de tarifas más bajas y contribuyes a la conservación del medio ambiente.</p>

<h4>Velocidades de impresión de nuestros dispositivos</h4>
<p>Cómo habrás observado, en Docutea no le damos demasiada importancia a las velocidades de impresión de los dispositivos. Todos los equipos que seleccionamos imprimen, copian o escanean entre 40 y 80 ppm. Y entendemos que es suficiente para las necesidades de todos nuestros clientes.</p>


<h3>Otras dudas frecuentes</h3>
<h4>Contrato</h4>
<p>¿En qué momento se hace efectivo el contrato?</p>
<p>Tu contrato será efectivo desde el primer día del mes siguiente a la fecha de instalación.  </p>

<h4>Resolución del contrato</h4>
<p>¿Cuándo se renueva el contrato? </p>
<p>Al finalizar el actual y de manera automática, por periodos de 12 meses. Docutea te notificará con 30 días de antelación las condiciones de renovación para que tengas tiempo de decidir si renuevas o si por el contrario solicitas la baja.</p>
 
<h4>¿Cuándo puedo darme de baja?</h4>
<p>Puedes hacerlo hasta 15 días antes de finalizar tu contrato en curso. Después de esta fecha se entiende que se va a renovar automáticamente.</p>

<h4>¿Qué penalizaciones hay en caso de incumplimiento de pagos o finalización del contrato anterior a la fecha?</h4>
<p>Puedes encontrar la información detallada en las Condiciones Generales de Servicio.</p>

<h4>Datos de pago</h4>
<p><p>¿Cuándo hay que proporcionar los datos de pago?</p>
Una vez recibas la confirmación de Docutea, tendrás que indicar tus datos bancarios en tu zona de cliente. Este paso es imprescindible, ya que sin él no se activará el servicio. Al realizar esta acción, además, nos confirmas que has leído y aceptas las condiciones generales y particulares de nuestro servicio.</p>

<h4>¿Cuándo se hace efectivo el cobro?</h4>
<p>La facturación se realizará el primer día de cada mes y los recibos se girarán entre el 1 y el 5 del mes en curso.</p>

<h4>Mantenimiento de equipos, consumibles y kits y renovaciones</h4>
<p>Instalaciones de equipos, software de monitorización y puesta en marcha del servicio.</p>
<p>Una vez confirmada la puesta en marcha del servicio. El departamento técnico de Docutea se pondrá en contacto contigo para realizar la instalación del software de monitorización. Esta instalación se hace en remoto, es decir, no tienes que esperar a que un técnico se desplace hasta tu lugar de trabajo.</p>
<p>A continuación, se enviará el equipo y se entregará en la ubicación final que hayas elegido. Cuando lo recibas, un técnico de Docutea realizará la instalación física (ten en cuenta que no incluye la instalación de drivers o software en tus otros equipos. Éstos tendrán que ser instalados por ti o por el personal técnico de tu empresa).</p>

<h4>Envío de consumibles y kits</h4>
<p>Se realizará de forma automática. Gracias a los sistemas de monitorización y al departamento de logística, recibirás los consumibles y kits unos días antes de que se terminen.</p>

<h4>Cambio de equipos</h4>
<p>Si durante el trascurso del contrato se observasen cambios en tus necesidades de impresión por necesidad de ampliaciones de funcionalidad o de tus volúmenes de impresión estimados, Docutea estudiará y te propondrá una actualización de los dispositivos y servicios incluidos.</p>
<p>En el resto de casos, siempre se entregará la última tecnología en el momento de hacer el contrato, ya que el periodo de vida de nuestros equipos es de 48 meses por lo que no se contemplan cambios durante la duración del mismo.</p>

<h4>Gestión de averías y soporte técnico</h4>
<p>Cómo gestionar incidencias.</p>
<p>Ponemos a tu disposición un Help Desk multicanal para la gestión de cualquier incidencia.  Para mantener un seguimiento de las incidencias podrás acceder a tu zona de cliente.</p>

<h4>Respuesta</h4>
<p>Atenderemos tu incidencia en un plazo no superior a 24h en días laborables. </p>
<p>Trataremos de solucionar la incidencia lo antes posible, pero si por cuestiones externas a Docutea, el plazo se demorara, disponemos de equipos de backup para la sustitución hasta que se resuelva la incidencia, para que puedas seguir con tu actividad.</p>

<h4>Zona de cliente</h4>
<p>En tu zona de cliente encontrarás tus datos de usuario, contratos y equipos además de informes de uso, facturas y la información que creamos sea de tu interés.</p>
<p>También podrás solicitar asistencia técnica y dar seguimiento a tus incidencias. </p>

<h4>Seguridad y privacidad</h4>
<p>Consulta nuestra Política de Privacidad y las Condiciones Generales de Servicio.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

