{% extends 'base.html.twig' %}

{% block content %}
    <div class="large-container large-container--white static-container">
        <div class="hero hero--commitment">
            <div class="hero__container">
                <div class="hero__inner">
                    <h1><span>Política de Privacidad</span></h1>
                    <ol>
                        <li><h3>Identificación del responsable del tratamiento.</h3>
                            <p>DOCUTEA, S.L. es la responsable del tratamiento de tus datos de carácter personal a los efectos de prestarte los servicios identificados en la presente política de privacidad (el “Sitio Web”).</p>
                            <p>DOCUTEA, S.L., es una sociedad domiciliada en la Calle Amado Nervo 4 en Madrid y su número de NIF es B88096466 (“DOCUTEA”) Inscrita en el Registro Mercantil de Madrid en el Tomo 37643, Folio 81, Sección 1ª, Hoja 670723</p>
                            <p>En DOCUTEA estamos comprometidos con la protección de tus datos personales y esta política de privacidad tiene como finalidad informarte sobre tus derechos en virtud del Reglamento General de Protección de Datos (“RGPD”).</p>
                            <p></p>
                            <p></p>
                        </li>
                        <li><h3>Información recogemos.</h3>
                            <p>Recabamos información sobre el Cliente cuando nos contacta mediante los canales habilitados para ello, tales como el formulario de alta en nuestro servicio de arrendamiento online o el formulario de contacto. <br>
                            Cuando contacta con nosotros a través de dichos canales, solicitaremos su consentimiento expreso para recabar tu email, tu nombre y apellidos, residencia, teléfono, NIF, datos bancarios </p>
                            <p>Todos los campos de los formularios que se le faciliten en los canales serán de obligada cumplimentación, de tal modo que la omisión de alguno de ellos podría comportar la imposibilidad de que se le puedan facilitar los servicios solicitados. Deberá proporcionar información verídica, quedando prohibida la suplantación de identidad o el uso de alias o nombres anónimos.</p>
                            <p>Es indispensable que el Cliente resguarde en todo momento sus datos de referencia, contraseñas y códigos de acceso que genere. Será el único responsable en caso del uso, de su cuenta personal, y en este sentido se compromete a hacer un uso diligente de dicha información, a no ponerla a disposición de terceros, y a comunicarnos, sin dilación, su pérdida o robo.</p>
                            <p>Para que la información facilitada esté siempre actualizada y no contenga errores, el Cliente deberá comunicar a DOCUTEA, a la mayor brevedad posible, las modificaciones de sus datos de carácter personal que se vayan produciendo a través de un correo electrónico a la dirección notificaciones@docutea.es</p>
                            <p>Asimismo, al hacer “click” en el botón “Acepto” (o equivalente) incorporado en los citados formularios, el Cliente declara que la información y los datos que en ellos ha facilitado son exactos y veraces.</p>
                            <p>También podremos recabamos información sobre el Cliente de forma indirecta, de los siguientes modos: <br>
                            -	Cuando navega, pueden instalarse en su dispositivo distintas cookies y otros dispositivos de seguimiento, tal y como explicamos en nuestra <a href="{{ path('static_pages', {'nombrePagina':'politica-de-cookies'}) }}" target="_blank">politica de cookies</a>.</p>
                        </li>
                        <li><h3>Origen de tus datos.</h3>
                            <p>Consideramos que todos los datos tratados por DOCUTEA el Cliente nos los ha aportado libremente. <br>
                    En caso de que los datos personales aportados para el cumplimiento de la gestión solicitada sean de un tercero, el Cliente garantiza que ha informado a estos de esta Política de Privacidad y ha obtenido su autorización para facilitar los datos a DOCUTEA con las finalidades señaladas anteriormente. Igualmente, garantiza que los datos aportados son exactos y actualizados, y se hace responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionarse como consecuencia del incumplimiento de tal obligación. </p>
                        </li>
                        <li><h3>Uso de tu información personal.</h3>
                        <p>DOCUTEA actúa como responsable del tratamiento de datos personales para las siguientes finalidades:
                            <ul>
                                <li>a) Gestionar la solicitud de servicio de arrendamiento de impresoras o venta de productos informáticos o tecnológicos a través de nuestra web.</li>
                                <li>b)	Gestionar la facturación de los servicios contratados, atender cualquier tipo de incidencia o petición derivada de las mismas, y llevar a cabo cualquier gestión relacionada con los accesos a los servicios que ofrecemos.</li>
                                <li>c)	Mantenerte informado acerca de los productos y servicios de DOCUTEA, así como enviar noticias, descuentos o promociones y avisarte del resto de actividades que llevamos a cabo en DOCUTEA, por medios convencionales y/o electrónicos (correos electrónicos, SMS, …).</li>
                                <li>d)	En su caso, mantener informado al Cliente acerca de productos y servicios de terceros, enviados siempre a través de DOCUTEA, y siempre que nos haya otorgado su consentimiento expreso para ello, por medios convencionales y/o electrónicos (correos electrónicos, SMS, ...), relacionadas con los sectores de empresas informáticas y tecnológicas, electrodomésticos, servicios inmobiliarios, hogar, seguros, servicios financieros, servicios de electricidad, gas y telecomunicaciones. DOCUTEA garantiza que en ningún caso se producirá una cesión de los datos a terceros para el envío de este tipo de comunicaciones. Todas las comunicaciones relacionadas con los partners con los que trabajamos se realizarán exclusivamente a través de DOCUTEA.</li>
                                <li>e)	Realizar labores de segmentación y obtención de perfiles según la información aportada y a través del análisis de la utilización de los servicios ofrecidos, con la finalidad de adecuar las ofertas, promociones y comunicaciones a cada cliente, ofreciendo servicios e información personalizada.</li>
                                <li>f)	Asimismo, podremos realizar labores de segmentación y obtención de perfiles según la información aportada y a través del análisis de la utilización de los servicios ofrecidos, con el objetivo de realizar meros análisis estadísticos de dicha información, si bien esta en cualquier caso siempre se encontrará totalmente anonimizada sin que pueda conocerse de ningún modo la identidad del sujeto que se encuentra tras esa información. </li>
                                <li>g)	Realizar revisiones periódicas de nuestros servicios y llevar a cabo encuestas de satisfacción a efectos de evaluar y mejorar la calidad del servicio que brindamos.</li>
                                <li>h)	Contactar con el cliente en el supuesto de que se detectaran o existieran fundadas sospechas en relación con un posible fraude o suplantación de identidad.</li>
                                <li>i)	Facilitar al Cliente el ejercicio de sus derechos.</li>
                            </ul>

                        </p>
                    </li>
                    <li><h3>Legitimación legal para el tratamiento de tus datos.</h3>
                        <p>DOCUTEA tratará los datos de carácter personal del Cliente de acuerdo con las siguientes bases legitimadoras, en función de la tipología de datos que sean facilitados, así como de las interacciones que, como usuario, entables con DOCUTEA:
                            <ul>
                                <li>a)	El tratamiento de sus datos para las finalidades relacionadas con el registro y trámite de sus datos para la atención de la solicitud de arrendamiento o venta, el formulario de contacto, la gestión del fraude o el envío de comunicaciones comerciales o publicitarias relacionadas con los productos y servicios de DOCUTEA se basan en la gestión y tramitación de la relación jurídica entablada entre ambas partes, es decir, en la gestión de su propia solicitud, en el mantenimiento del contacto, en la prestación del servicio que hubiera solicitado y, en su caso, en el interés legítimo de DOCUTEA.<br><br>
                    
                    En cualquier momento podrá oponerse al envío de comunicaciones comerciales o publicitarias relacionadas con los productos y servicios de DOCUTEA poniéndose en contacto con nosotros a través de las vías habilitadas. Teniendo en cuenta que aun cuando procedamos a la baja de sus datos, podrá tardar unos días en ejecutarse la misma de manera completa.</li>
                                <li>b)	El tratamiento de sus datos para las finalidades relacionadas con el punto 5.d) anterior acerca del envío de comunicaciones comerciales de terceros a través de DOCUTEA se basa en su consentimiento explícito, libre e inequívoco, el cual te será solicitado en el momento de la recogida de los datos. </li>
                            </ul>

                        </p>
                    </li>
                    <li><h3>Cesión de datos y transferencias internacionales.</h3>
                        <p>Todas las cesiones de datos personales que realicemos resultan necesarias para el cumplimiento de las finalidades indicadas, o se realizan para cumplir una obligación legal:
                            <ul>
                                <li>a)	A las administraciones públicas en cumplimiento de las obligaciones legales que nos son de aplicación, o en cumplimiento de la relación contractual entre las partes.</li>
                                <li>b)	A los proveedores de transporte de DOCUTEA, en caso de resultar necesario contar con dichos servicios.</li>
                                <li>c)	A las empresas proveedoras de servicios de pago (entidades bancarias, pasarelas de pago, etc.), en caso de que el cliente realice algún pago a través del servicio ofrecido por una de estas empresas.</li>
                                <li>d)	A las empresas prestadoras de servicios informáticos, herramientas o infraestructura informática, sobre la que se asientan los servicios que DOCUTEA presta, y otros proveedores con los que trabajamos para gestionar la contabilidad.</li>
                            </ul>
                        </p>
                        <p>Garantizamos que en ningún caso se producirá una cesión de datos a terceros para el envío de comunicaciones comerciales. Todas las comunicaciones relacionadas con los partners con los que trabajamos se realizarán exclusivamente a través de DOCUTEA. A través de las mismas el Cliente podrá acceder a los servicios de terceras empresas, y a sus Políticas de Privacidad donde describan el tratamiento de datos que éstas lleven a cabo. No obstante, DOCUTEA no asumirá ninguna responsabilidad acerca del contenido de sus Políticas de Privacidad ni del tratamiento que éstas hagan de sus datos. </p>
                        <p>Asimismo,  informamos de que cualquier cesión que se produzca se realizará teniendo en cuenta todas las salvaguardas legales necesarias. Asimismo, garantizamos que firmamos con todos nuestros proveedores de servicios contratos específicos según establece la normativa.</p>
                    </li>
                    <li><h3>Ejercicio de tus derechos.</h3>
                        <p>Te informamos de que el Cliente podrá ejercer los siguientes derechos:
                            <ul>
                                <li>1.	Derecho de acceso a sus datos personales para saber cuáles están siendo objeto de tratamiento y las operaciones de tratamiento llevadas a cabo con ellos.</li>
                                <li>2.	Derecho de rectificación de cualquier dato personal inexacto.</li>
                                <li>3.	Derecho de supresión de sus datos personales, cuando esto sea posible.</li>
                                <li>4.	Derecho a solicitar la limitación del tratamiento de sus datos personales cuando la exactitud, la legalidad o la necesidad del tratamiento de los datos resulte dudosa, en cuyo caso, podremos conservar los datos para el ejercicio o la defensa de reclamaciones.</li>
                                <li>5.	Derecho a oponerse a la toma de decisiones automatizadas.</li>
                                <li>6.	Derecho de oposición al tratamiento de sus datos personales cuando la base legal que nos habilite para su tratamiento, conforme al apartado 4 anterior, sea el interés legítimo.</li>
                                <li>7.	Derecho a la portabilidad de sus datos, cuando la base legal que nos habilite para su tratamiento de las indicadas en el apartado 4 anterior sea la existencia de una relación contractual o tu consentimiento.</li>
                                <li>8.	Derecho a revocar el consentimiento otorgado a DOCUTEA.</li>
                            </ul>
                        </p>
                        <p>Podrá ejercitar sus derechos en cualquier momento y de forma gratuita de las siguientes formas:
                            <ul>
                                <li>1.	Dirigiendo un correo electrónico  notificaciones@docutea.es indicando el derecho que desea ejercitar y sus datos identificativos.</li>
                                <li>2.	Dirigiendo una solicitud escrita a la dirección Calle Amado Nervo nº 4 28007 Madrid, indicando el derecho que desea ejercitar y sus datos personales.</li>
                                <li>3.	Además, cuando reciba cualquier comunicación nuestra, clicando en la sección de baja que contendrá esa comunicación, podrá darse de baja de todos envíos de comunicaciones comerciales previamente aceptadas.</li>
                            </ul></p>
                        <p>Asimismo, informamos de que tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos si considera que hemos cometido una infracción de la legislación en materia de protección de datos respecto al tratamiento de sus datos personales.</p>
                    </li>
                    <li><h3>Periodos de retención y Cookies.</h3>
                        <p></p>
                        <p>Sólo mantendremos sus datos durante el tiempo que sea necesario para ofrecerle estos servicios. Cualquiera de los datos que nos facilite a través de los canales serán bloqueados siempre y cuando dejen de ser necesarios para gestionar el servicio y sólo estarán disponibles en caso de que exista una obligación legal (derivada de una petición de las Fuerzas y Cuerpos de Seguridad del Estado o de Juzgados y Tribunales) así como cuando ejercite sus derechos  en notificaciones@docutea.es</p>
                        <p>En relación con tus datos personales obtenidos a través de los canales, DOCUTEA utiliza Cookies según la Política de Cookies que podrás consultar aquí.</p>
                    </li>
                    <li><h3>Seguridad y confidencialidad.</h3>
                        <p>Estamos comprometidos con la seguridad de la información. Con el objeto de prevenir accesos no autorizados o la revelación no autorizada de datos personales, hemos tomado las medidas adecuadas tanto técnicas como físicas, así como los procesos de gestión para salvaguardar y asegurar la información que recabamos de ti.</p>
                    </li>
                    <li><h3>Actualización de la política de privacidad.</h3>
                        <p>Esta política de privacidad ha sido revisada y publicada a fecha 19 de noviembre de 2019.</p>
                    </li>
                </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
