{% extends 'base.html.twig' %}

{% block content %}
    <div class="large-container large-container--white static-container">
        <div class="hero hero--commitment">
            <div class="hero__container">
                <div class="hero__inner">
                    <h1><span>Política de Cookies</span></h1>
                    <div>
<h4>Cookies</h4>
<p>DOCUTEA usa cookies y otros mecanismos similares (en adelante cookies). Las cookies son pequeños archivos de texto que se almacenan en el disco duro del ordenador o dispositivo móvil del Usuario para registrar su actividad en nuestra web, apps y/o servicios de las Web. Por ejemplo, las cookies contienen información sobre preferencias del Usuario y sobre como usa nuestra página web, y permiten identificar el navegador del Usuario en su siguiente visita a nuestra web. En esta declaración de cookies explicamos qué cookies se almacenan y bajo qué propósitos.</p>

<h4>Cookies funcionales</h4>
<p>DOCUTEA utiliza cookies funcionales para el correcto funcionamiento de la web, por ejemplo, para facilitar la navegación y el acceso a la web de DOCUTEA, y/o para recordar las preferencias del Usuario cuando navegue por la web. Por ejemplo, no tendría que introducir sus datos de registro cada vez que visite nuestra web. Las cookies funcionales siempre se almacenan, independientemente de las decisiones que tome. Este tipo de cookies pueden ser almacenadas sin permiso alguno.</p>

<h4>Cookies de Registro</h4>
<p>Las cookies de registro se generan una vez que el Usuario se ha registrado o posteriormente ha abierto su sesión, y se utilizan para identificar al Usuario de forma que, si cierra la web de DOCUTEA, el navegador o el ordenador y en otro momento u otro día vuelve a entrar seguirá identificado, facilitando así su navegación sin tener que volver a identificarse. Esta funcionalidad se puede suprimir si el Usuario pulsa la funcionalidad “cerrar sesión”, de forma que esta cookie se elimina y la próxima vez que entre el Usuario tendrá que iniciar sesión para estar identificado. Asimismo, permite comprobar si el Usuario está autorizado para acceder a ciertos servicios.</p>

<h4>Cookies de Análisis</h4>
<p>Para saber qué partes de nuestra web son las más interesantes para nuestros Usuarios, intentamos medir siempre cuantos visitantes tenemos y qué partes de la web son las más visitadas. Para ello usamos cookies. Esto nos permitirá hacer que la estructura, navegación y contenido de nuestra web sean lo más fáciles de usar posible. Intentamos que estos datos sean lo más anónimos posible. Esta cookie que sólo se genera en la visita, servirá en próximas visitas para identificar de forma anónima al visitante. Los objetivos principales que se persiguen son:
<ul>
<li>Permitir la identificación anónima de los Usuarios navegantes a través de la “cookie” (identifica navegadores y dispositivos, no personas) y por lo tanto la contabilización aproximada del número de visitantes y su tendencia en el tiempo.</li>
<li>Identificar de forma anónima los contenidos más visitados y por lo tanto más atractivos para los Usuarios.</li>
<li>Saber si el Usuario que está accediendo es nuevo o repite visita.</li>
</ul> 
</p>
<p>Importante: Salvo que el Usuario decida registrarse en un servicio de DOCUTEA, la “cookie” nunca irá asociada a ningún dato de carácter personal que pueda identificarle. Dichas cookies sólo serán utilizadas con propósitos estadísticos que ayuden a la optimización de la experiencia de los Usuarios en el sitio.</p>

<h4>Cookies de Redes Sociales</h4>
<p>Nuestro sitio web incluye botones para promover y compartir páginas web en redes sociales como Facebook, YouTube, Twitter, Instagram. Para permitir que estos botones hagan su función, usamos cookies de estas redes sociales. Para conocer los detalles de almacenamiento de cookies de estas redes sociales y los datos que pueden potencialmente recopilar, por favor consulte las políticas que tienen en sus propias páginas web. Nota: estas declaraciones pueden cambiarse con regularidad. No tenemos control sobre esto.</p>

<h4>Cómo cambiar la configuración de cookies</h4>
<p>El Usuario puede configurar el navegador de su ordenador que le permite eliminar las cookies que ha almacenado y negarse a almacenar nuevas cookies. El método para hacerlo varia de un navegador a otro; si es necesario, el Usuario puede consultar la opción de ayuda de su navegador. Nota: si el Usuario rechaza las cookies y/o las borra, puede que no siempre sea capaz de usar/experimentar todo el potencial de la web.
 A continuación, proporcionamos información a relativa sobre los navegadores más comerciales:
 <ul>
<li><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Información sobre Microsoft Internet Explorer</a></li>
<li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">Información sobre Mozilla Firefox</a></li>
<li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Información sobre Google Chrome</a></li>
<li><a href="https://support.apple.com/kb/ph5042?locale=en_US" target="_blank">Información sobre Safari</a></li>
</ul>  
</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
