{% extends 'base.html.twig' %}

{% block content %}

    <div class="large-container">
        <div class="hero hero--commitment">
            <div class="hero__container">
                <div class="hero__inner">
                    <img src="{{ asset('images/sobrenosotros.png') }}" class="hero__bg">
                </div>
            </div>
        </div>
    </div>

    <div class="large-container large-container--white static-container">
        <div class="hero hero--commitment">
            <div class="hero__container">
                <div class="hero__inner">
                    <h1><span>Sobre Nosotros</span></h1>
                    <div>
                    <p>
                        Docutea la formamos personas con una larga carrera en el mundo de las tecnologías para Servicios Gestionados de Impresión.</p>

<p>Nacemos con la vocación de ayudarte a elegir los productos y servicios más adecuados para gestionar tus documentos, porque sabemos que la oferta del mercado es muy grande. Queremos encontrar la opción que se adapte mejor a ti y te aporte más valor y rendimiento, mientras ahorras esfuerzos,  dinero y tiempo.</p>

<p>Trabajamos para que tus documentos sean accesibles cuando los necesites, físicos o digitales, de la forma más sencilla posible, con todos los servicios incluidos y sin renunciar a nada.</p>

<p>Además, tenemos claro que lo que no es bueno para el planeta, no es bueno para nosotros, ni para ti, por eso apostamos por tecnologías limpias, y procesos y planes de reciclado homologados. Y nuestro compromiso es seguir haciéndolo en el futuro.</p>

<p>Aunque no sabemos qué nos deparará el futuro, estamos deseando que lo averigüemos juntos, porque cambiamos contigo y nos adaptamos a tus necesidades.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
