{% extends 'base.html.twig' %}

{% block content %}
    <div class="large-container large-container--white static-container">
        <div class="hero hero--commitment">
            <div class="hero__container">
                <div class="hero__inner">
                    <h1><span>Condiciones generales</span></h1>
                    <div>
<p>Estas condiciones generales de contratación (en adelante referidas como CG) regulan expresamente el arrendamiento de servicios de los clientes (en adelante el “Cliente” o Clientes”) a DOCUTEA, S.L a través de la web www.docutea.com (en adelante referida como la “Plataforma”) propiedad de la sociedad DOCUTEA, S.L</p>

<p>DOCUTEA, S.L <br>
C/ Amado Nervo 28007 Madrid, <br>
CIF  ___ <br>
Inscrita en el Registro Mercantil de Madrid en el Tomo__, Folio __, Sección __, Hoja ___ <br>
MAIL: ____@DOCUTEA.com<br>
(en adelante denominada DOCUTEA)</p>

<p>DOCUTEA ofrece a sus clientes la posibilidad de contratar sus servicios a través de la Plataforma, en las condiciones que aquí se especifican (en adelante referidas como CG) y en las condiciones particulares según la modalidad de servicio y producto seleccionada por el Cliente en la configuración del servicio (en adelante referidas como CP). </p>

<p>En todo caso, la contratación de los servicios ofrecidos a través de la Plataforma (en adelante referidos como el/los Servicio/s) implica que el Cliente declara ser mayor de edad, tener plena capacidad para contratar y la aceptación y cumplimiento de las presentes CG por lo que, con anterioridad al acceso y/o contratación de dichos servicios, el cliente deberá leer atentamente todas las condiciones aquí recogidas así como las CP aplicables a cada tipo de servicio.</p>

<p>Tanto las presentes CG como las CP, se regirán por la ley española.</p>

<h4><strong>1. Objeto del contrato</strong></h4>          

<p>El objeto de las presentes CG son los servicios de impresión en pago por uso (PPU).  Modalidad de “CONSUMIBLES y SERVICIOS”</p>

<p>La contratación de los servicios incluye: 
<ul>
<li>El equipo seleccionado disponible que más se adapte a las necesidades del cliente, en régimen de arrendamiento, incluyendo su entrega y recogida a la finalización del contrato.</li>
<li>El mantenimiento de Hardware y software, piezas de recambio y mano de obra necesaria para el correcto funcionamiento de los equipos contratados por el cliente: </li>
<li>El suministro del material fungible (cartuchos de tinta y tóner, cabezales, kits de tambor, fusor y/o transferencia según modelos), (excepto grapas y papel).</li>
<li>Un tiempo de respuesta de un día siguiente laborable para _______.</li>
</ul>
<p>La contratación de los servicios no incluye:</p>

<ul>
<li>La mano de obra para la sustitución de los consumibles (cartuchos de tóner, kits de tambor, fusor y/o transferencia según modelos) que pueden ser solventados por el propio Cliente según las especificaciones indicadas en el manual de usuario de los equipos contratados por el Cliente.</li>

<li>La reposición de los consumibles dañados por utilización inadecuada o por el uso de materiales distintos a los indicados en las especificaciones detalladas en el manual de usuario (Ej.: Gramajes o tipos de papel inadecuados, etc.)</li>

<li>Reparación de averías que no procedan del desgaste normal del equipo, como: 
<ul>
<li>LElementos externos rotos, bandejas, cristales, tapas. etc. <li>
<li>Daños causados por la utilización fuera de las especificaciones de uso indicadas en el manual de usuario (Ej.: Gramajes o tipos de papel inadecuados, etc.)<li>
</ul>
</li>

<li>Solución a problemas de atascos de papel que pueden ser solventados por el propio cliente, atendiendo a las indicaciones del manual de usuario.</li>

<li>Queda expresamente excluido de este contrato cualquier soporte de impresión (papel) que será por cuenta del cliente.</li>
</ul>


<h4><strong>2. Proceso de contratación</strong></h4>

<p>El proceso de contratación de los servicios a través de la Plataforma consiste en los siguientes pasos:</p>

<ul>
<li>Configuración de los servicios a contratar: (1) Impresora / Multifunción; (2) Color / Blanco y negro; (3) Formato A3 / A4; (4) Volumen de impresiones; (5) Duración del contrato ((12, 24, 36 y 48 meses).</li>
<li>Registro o identificación del Cliente. </li>
<li>Forma de pago de los servicios por cualquiera de los medios de pago admisibles. </li>
</ul>

<p>Cuando el Cliente realice una contratación a través de la Plataforma acepta contratarlos al precio y con los términos vigentes en cada momento. DOCUTEA enviará al Cliente un correo electrónico para confirmarle la contratación.</p>
<p>En todo caso, DOCUTEA se reserva el derecho de no aceptar pedidos comunicándolo siempre al Cliente.</p>
<p>Algunos de los motivos por lo que DOCUTEA podrá no aceptar pedidos son:</p>
<ul>
<li>La dirección de entrega se encuentra fuera del territorio Peninsular español.</li>
<li>Si en el momento de seleccionar un equipo no hubiera existencias del mismo disponibles (no podrá añadir dicho producto en la cesta de la compra). </li>
<li>Si el Cliente no realiza el pago con alguno de los métodos de pago mostradas en la Plataforma. </li>
</ul>
<h4><strong>3. Cuenta de registro del Cliente</strong></h4>

<p>Con el registro en el servicio de DOCUTEA, se creará la cuenta de registro ("cuenta de usuario"), que incluirá los datos necesarios para la identificación del Cliente y realizar las operaciones asociadas al servicio.</p>

<p>La cuenta de registro deberá crearse a través de la Plataforma. Una vez creada la cuenta del usuario, éste podrá acceder a sus datos personales con su nombre de usuario y contraseña, lo que debería mantener en estricta confidencialidad. La cuenta de usuario incluirá un registro ordenado o histórico de las transacciones efectuadas.</p>

<p>El Cliente es responsable de la custodia, uso diligente y mantenimiento de la confidencialidad de las contraseñas, claves de acceso o sistemas de cifrado o encriptación de comunicaciones, que sean facilitados por DOCUTEA en relación con el Servicio.</p>

<h4><strong>4. Entrega</strong></h4>

<p>DOCUTEA hará llegar el equipo a la dirección de entrega, dentro de Península, indicada por el Cliente, y la factura detallada por Correo Electrónico a también señalada por el Cliente.</p>
<p>Para entregas fuera de la Península, contactar en ___info@docutea.es_______</p>
    


<h4><strong>5. Mantenimiento</strong></h4>

<p>DOCUTEA, empleando los medios que considere necesarios en cada momento realizar el mantenimiento que permita el correcto funcionamiento de los equipos contratados por el cliente, asumiendo el coste siempre y cuando se hubieran producido por causas no imputables al Cliente. En caso de que el Cliente detecte una avería en el equipo o un mal funcionamiento deberá ponerse en contacto con el servicio de atención técnica de DOCUTEA llamando al número __902909911____</p>



<h4><strong>6.  Duración del contrato</strong></h4>

<p>La duración de este contrato será la configurada por el cliente en la selección de las condiciones particulares del servicio (12, 24, 36, 48 meses), entrado en vigor el día de aceptación del contrato a través de la Plataforma (fecha de inicio).</p>

<p>El contrato se renovará de forma automática por periodos de igual duración salvo que cualquiera de las partes preavise a la otra con treinta (30.-) días de anticipación a la finalización de su vigencia inicial o de cualquiera de sus prórrogas.</p>

<p>En caso de finalizar el contrato de forma anticipada, el Cliente reconoce el derecho de DOCUTEA a cobrar una penalización por un importe igual al resultado de multiplicar la cuota fija del Cliente por los meses restantes hasta la finalización del Contrato.</p>


<h4><strong>7.  Precios</strong></h4>

<p>El Cliente pagará un precio por el servicio que está compuesto de una cuota de fija y una cuota variable, según las CP seleccionadas por el Cliente en la configuración de su servicio. </p>

<p>La cuota fija será la seleccionada por el Cliente en la configuración de su servicio. </p>

<p>La cuota variable se fijará atendiendo al consumo de consumibles o fungibles por parte del Cliente. El cálculo de la cuota se basará en los costes totales (Cartuchos, tambores, Kits de mantenimiento, piezas de recambio y servicios necesarios) y será ajustada anualmente atendiendo al consumo real del año anterior. </p>

<p>La cuota variable es una estimación que se ajustará al vencimiento de cada anualidad, de la siguiente forma: el consumo real de (Cartuchos de tóner o tinta) enviados se confrontará con el consumo estimado, y la diferencia, en caso de infra-consumo, será deducida de las cuotas mensuales/trimestrales del siguiente año, y en caso de sobre-consumo, será facturada en un único cargo en la fecha en que se cumpla el año. La información sobre consumo real de fungibles será utilizada para actualizar la previsión del año siguiente.</p>

<p>Los precios podrán ser incrementados o reducidos anualmente por DOCUTEA al vencimiento de cada anualidad a computar desde la fecha de Inicio. El porcentaje de incremento o decremento de los precios estará directamente ligado con cualquier incremento o decremento en el precio de la lista de precios de fungibles  y servicios del fabricante, publicada y en vigor en la fecha de vencimiento e cada anualidad desde la fecha de inicio de los servicios contratados, y basados en el mismo número de fungibles que se usaron en la fijación de la cuota del año anterior, así como en la variación del IPC anual correspondiente.</p>

<p>Los precios así actualizados, serán comunicados por escrito por DOCUTEA al Cliente, y sustituirán a los que acompañan a este contrato, pasando a ser parte del mismo.</p>

<p>Los precios reflejados en la Plataforma son precios y servicios para ESPAÑA PENINSULAR____, fuera de este territorio los precios podrán sufrir variaciones.</p>

<p>Los precios indicados en este contrato no incluyen IVA y se expresan en Euros.</p>


<h4><strong>8. Facturación y forma de pago</strong></h4>

<p>La cuota fija se facturará mensualmente el primer día de cada mes</p>

<p>La cuota variable se facturará mensualmente según una estimación de consumo el primer día de cada mes. Al final de cada anualidad se regularizará la cuota variable estimada de consumo con lo realmente consumido por el Cliente e DOCUTEA generará una factura (de cargo o de abono) para la regularización de los costes. En caso de generar un abono, este será compensado con las facturas de las mensualidades siguientes hasta su total liquidación. Y en caso de generarse una factura en la regularización, esta se abonará en el mes siguiente.</p>

<p>La forma de pago será mediante domiciliación bancaria o cargo en tarjeta.</p>

<p>El Cliente, (i) declara que está autorizado para usar el método de pago que ha proporcionado y que toda información de pago que haya proporcionado es cierta y exacta; (ii) autoriza a DOCUTEA para cobrarle por los Servicios a través del método de pago proporcionado.</p>

<p>El Cliente autoriza a DOCUTEA a cargar en su tarjeta de crédito o debito, todos los servicios contratados a DOCUTEA. Desde el momento en que el Cliente contrata el servicio a DOCUTEA , se podrá efectuar inmediatamente el cargo en la tarjeta de crédito o debito o en el método de pago autorizado. No obstante ello, el cargo en la cuenta podrá realizarse en fecha posterior a la transacción.</p>

<p>En caso de domiciliación bancaria, el Cliente autoriza a DOCUTEA a solicitar a su banco el pago de las cantidades debidas a DOCUTEA. Debe garantizar que: (i) ha proporcionado una dirección de correo electrónico válida para correspondencia y notificaciones; (ii) su banco aceptará los cargos; (iii) dispone de suficientes fondos en cualquier fecha de vencimiento; y (iv) su orden no ha sido cancelada o revocada. El incumplimiento de estos términos y el consiguiente impago no le exime de su obligación de pagar las cantidades debidas en la fecha de vencimiento. El Cliente se puede poner en contacto con DOCUTEA para cancelar esta orden o seleccionar otra forma de pago. Cancelaremos la orden una vez recibida su notificación. La domiciliación está disponible a nuestra discreción, por lo que en caso de que no esté disponible nos pondremos en contacto con usted para acordar una alternativa</p>

<p>El Cliente reconoce expresamente a DOCUTEA la posibilidad de cobrar una penalidad adicional en caso de imposibilidad de efectuar el cobro de la tarjeta de crédito o debito asociada y demás métodos de pagos autorizados, por cada transacción fallida. El importe de las penalidades será de un _1_% del importe de la transacción. </p>

<p>El Cliente manifiesta que reconoce el derecho de DOCUTEA a cobrar una penalización por la existencia de saldos pendientes de pago en la cuenta del Cliente, equivalente a un ___1__por ciento (__1_%) de los importes pendientes de pago, en concepto de penalización por el reclamo de posiciones deudoras, así como un interés de demora igual al interés legal del dinero incrementado en un dos por ciento (2%). Para el cobro de las cantidades adeudadas DOCUTEA podrá ejecutar los depósitos, fianzas o demás garantías establecidas.</p>

<p>Los pagos y cargos realizados en la cuenta de Cliente se realizarán a través de una plataforma de pago segura y certificada, garantizando la privacidad y confidencialidad de cada transacción. </p>

<p>El cliente no debe dejar abierta la página Web de DOCUTEA donde aparezcan sus datos logeados, bien sea en un PC o en un móvil, dado que esto podría ser utilizado por otras personas, de manera fraudulenta. DOCUTEA no se responsabilizará de los cargos acometidos en su cuenta, cuando éstos hayan podido venir por un mal uso de estos entornos por parte del cliente.</p>

<p>El Cliente acepta expresamente la emisión de factura electrónica que se le remitirá por correo electrónico. El Cliente podrá  optar por la factura en papel en cualquier momento durante la vigencia del Contrato.</p>

<p>En caso de equivocación en la factura, DOCUTEA lo corregirá inmediatamente después de que el Cliente haya informado al respecto e investiguemos el cobro. El Cliente debe informar a DOCUTEA en un plazo de 120 días después de que aparezca un error por primera vez en la factura. Si no se informa en dicho periodo, el Cliente exime a DOCUTEA de toda responsabilidad y reclamación por pérdidas derivadas del error causado por una negligencia leve, y no existirá obligación a corregir el error ni a ofrecerle el reembolso. En cualquier otro caso, si DOCUTEA identifica un error de facturación, informará al Cliente y tomará las medidas necesarias para corregirlo lo antes posible.</p>


<h4><strong>9. Suspensión del servicio</strong></h4>

<p>El retraso en el pago total o parcial por parte del Cliente podrá dar lugar por parte de DOCUTEA  a la suspensión de la prestación del servicio, previo aviso. </p>

<p>Cuando DOCUTEA tenga constancia de que un Cliente ha abonado la deuda, restablecerá el Servicio en un plazo de un (1) día laborable desde que exista tal constancia. </p>

<p>La suspensión del Servicio no exime al Cliente de la obligación  de continuar con el pago de las cuotas que puedan devengarse y que se correspondan con el servicio contratado. 
DOCUTEA podrá suspender de manera temporal o definitiva el servicio, previa comunicación al Cliente, en casos de uso ilícito, fraude, o por otras razones suficientemente acreditadas o por falta de constitución de la garantía solicitada por DOCUTEA de conformidad con la Condición General ___  </p>


<h4><strong>10.  Terminación de contrato</strong></h4>

<p>Causas de terminación:</p>

<p>El presente Contrato podrá resolverse por las causas generales de resolución de los contratos, así como en caso de que: </p>


<p>a)  Cualquier de las partes comunique a la otra de forma fehaciente con 30 días de antelación a la fecha de terminación de la duración seleccionada por el Clientes, su deseo de no renovar el Contrato. En caso contrario este se renovará por periodo de igual duración al inicialmente seleccionado por el Cliente. </p>
<p>b)  Si la otra parte incurre en incumplimiento contractual irremediable de este Contrato, o dicho incumplimiento, en caso de ser remediable, no es remediado dentro de los treinta (30) días siguientes a la notificación por escrito en que así se solicite. </p>
<p>c)  En caso de que la parte contraria resulte incurso en concurso de acreedores, sea ésta voluntaria o necesaria, o se le nombrase un administrador judicial.</p>
<p>d)  El incumplimiento por parte del Cliente de las obligaciones contraídas en este Contrato tales como el retraso en el pago de las cantidades adeudadas por un período superior a tres (3) meses ) </p>
<p>e)  Por otras razones suficientemente acreditadas.</p>


<p>Consecuencias de la terminación el Contrato: </p>

<p>Sin perjuicio de cualquier otro derecho que pueda corresponder a DOCUTEA al amparo de este Contrato, en caso de terminación del contrato, por cualquier casusa, DOCUTEA tendrá derecho acceder a las instalaciones del Cliente y recoger los productos entregados al mismo. En caso de no poder acceder a las instalaciones del Cliente por cualquier causa, IMPRIMIMIA lo notificará al Cliente quien deberá enviar a su costa los equipos a la dirección indicada por DOCUTEA, en el plazo de ______ días de la fecha de la comunicación. En caso de no proceder a su envío, deberá abonarse a DOCUTEA el coste de los productos según su valor de mercado. </p>


<p>En ningún caso la resolución del Contrato eximirá al Cliente de sus obligaciones de pago frente a DOCUTEA por la utilización del Servicio o por cualquier otro concepto.</p>

<p>La terminación de este Contrato no afectará cualesquiera otros derechos o remedios a los que una parte tenga derecho al amparo del presente Contrato o de la Ley.</p>

<h4><strong>11. Garantías</strong></h4>

<p>Garantías de DOCUTEA</p>

<p>DOCUTEA manifiesta y garantiza que su Plataforma está técnicamente preparada para la contratación de los servicios que ofrece. DOCUTEA hace sus mejores esfuerzos para que la información que aparece sea correcta, pero no puede garantizar la exactitud en las descripciones. La descripción de los equipos pueden sufrir pequeñas variaciones en cuanto a las especificaciones, colores u otras características de diseño.</p>

<p>DOCUTEA no otorga garantías sobre los resultados que puedan obtenerse del uso de los productos o servicios contratados, ni sobre la plena fiabilidad o inexistencia de errores de los mismos.</p>

<p>DOCUTEA reparará los equipos que no funcionen correctamente que procedan del desgaste normal del equipo pero no aquellas que procedan del uso inadecuado o poco diligente por parte del Cliente, tales como  elementos externos rotos, bandejas, cristales, tapas. etc. o daños causados por la utilización fuera de las especificaciones de uso indicadas en el manual de usuario (Ej.: Gramajes o tipos de papel inadecuados, etc.) </p>

<p>DOCUTEA no estará obligado a asumir el coste de la reposición de los consumibles dañados por utilización inadecuada o por el uso de materiales distintos a los indicados en las especificaciones detalladas en el manual de usuario (Ej.: Gramajes o tipos de papel inadecuados, etc.)</p>

<p>Garantías del Cliente</p>

<p>DOCUTEA podrá para garantizar el cumplimiento de las obligaciones del Cliente:</p>

<p>a. Solicitar al Cliente la constitución de un depósito no remunerado en efectivo o el otorgamiento de un aval bancario con quince (15) días de antelación. Su cuantía no será superior  al consumo medio estimado de tres (12) meses del Cliente y coste del/los equipo/s.</p>
<p>b. Solicitar al Cliente un adelanto en función del consumo anterior del mismo.</p>
<p>c. Asignar al Cliente un límite de crédito.</p>

<p>Estas medidas podrán ser adoptadas, entre otros, en supuestos como:</p>

<ul>
<li>La existencia de cantidades impagadas por el Cliente por cualquier contrato, vigente o no, con DOCUTEA o con un tercero,</li>
<li>El retraso reiterado del Cliente en el pago de sus obligaciones con DOCUTEA </li>
<li>La existencia de un riesgo objetivo.</li>
</ul>

<p>En caso de constitución de depósito, éste será devuelto por DOCUTEA cuando quede acreditado que no ha existido ningún retraso en el pago de las facturas enviadas por DOCUTEA al Cliente y la devolución de los equipos. El plazo de devolución del depósito será de quince (15) días a contar desde el siguiente a aquél en el que se cumplan las circunstancias que permitan la devolución. En los demás casos, DOCUTEA podrá ejecutar la garantía por el total de la deuda pendiente a la terminación del contrato o por coste de/los equipos, en caso de no recuperarse en el plazo convenido.  </p>


<h4><strong>12. Desistimiento</strong></h4>

<p>Desistimiento del servicio contratado:</p>

<p>Una vez realizada la contratación, el Cliente podrá cancelar y desistir de dicha contratación en un plazo de 14 días naturales desde la celebración del contrato, con o sin causa justificada, siempre y cuando el servicio no haya sido prestado y haya informado por escrito a través del correo electrónico a _____ o a __________________S.L., C/________de Madrid.  Modelo de comunicación de desistimiento (link)</p>

<p>Al objeto de ejercitar su derecho, el Cliente podrá utilizar el modelo de formulario de desistimiento que considere más ajustado, o bien realizar declaración inequívoca que deje constancia de su decisión de desistir del contrato. </p>

<p>Consecuencias del desistimiento del servicio: </p>

<p>En caso de desistimiento del servicio, siempre y cuando el mismo no se haya comenzado a prestar y los materiales estén si desprecintar, y siempre dentro del plazo de 14 días naturales desde el día de la contratación, DOCUTEA procederá a restituir el importe abonado a más tardar 15 días naturales a partir de la fecha en la que reciba la comunicación de la decisión de desistir del servicio contratado, descontados los gastos de recogida de los equipos y demás material entregado. DOCUTEA procederá a efectuar dicho reembolso.</p>


<h4><strong>13. Responsabilidad</strong></h4>

<p>DOCUTEA no asume responsabilidad alguna por los daños, perjuicios, pérdidas, reclamaciones o gastos producidos por:</p>

<p>a. Interferencias, interrupciones, fallos, omisiones, averías telefónicas, retrasos, bloqueos y/o desconexiones en el funcionamiento del sistema electrónico, motivadas por deficiencias, sobrecargas y errores en las líneas y redes de telecomunicaciones, o por cualquier otra causa ajena a su control.</p>
<p>b. Uso de programas malignos de cualquier tipo y a través de cualquier medio de comunicación, tales como virus informáticos o cualesquiera otros.</p>
<p>c. Uso indebido y/o inadecuado de las páginas del sitio web.</p>
<p>d. Errores de seguridad y/o navegación producidos por un mal funcionamiento del navegador o por el uso de versiones no actualizadas del mismo.</p>

<p>El Cliente es consciente, y acepta voluntariamente, que el uso del sitio web tiene lugar, en todo caso, bajo su única y exclusiva responsabilidad.</p>

<p>El Cliente responderá de los daños y perjuicios de toda naturaleza que DOCUTEA  pueda sufrir como consecuencia del incumplimiento de cualquiera de las obligaciones a las que queda sometido en virtud de las presentes CG del servicio o de la legislación aplicable en relación con la utilización de la Plataforma.</p>


 
<h4><strong>14. Política de privacidad</strong></h4>

<p>Legislación aplicable</p>

<p>DOCUTEA cumple en el tratamiento de los datos de carácter personal con la legislación vigente en España y en la Unión Europea, en particular, con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y su normativa de desarrollo, en particular el Real Decreto 1720/2007 de 21 de diciembre por el que se aprueba el Reglamento de la Ley Orgánica 15/1999. Para ello DOCUTEA adopta las medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos de personales facilitados, habida cuenta del estado de la tecnología, la naturaleza de los datos y los riesgos a los que están expuestos.</p>

<p>Seguridad</p>

<p>DOCUTEA ha adoptado los niveles de seguridad de protección de los datos personales exigidos por el Reglamento de Desarrollo de la Ley Orgánica 15/1999, de protección de datos de carácter personal (Real Decreto 1720/2007). Además, procura instalar aquellos otros medios y medidas técnicas adicionales para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados.</p>

<p>En el proceso de registro el Cliente deberá elegir una contraseña y será responsable de mantener la confidencialidad de la misma, así como de todas las actividades que ocurran en la sesión iniciada con su nombre de usuario y contraseña. En este sentido, el Cliente se compromete a notificar a DOCUTEA a la mayor brevedad posible el uso no autorizado de su nombre de usuario y contraseña o cualquier otro fallo en la seguridad. DOCUTEA no será responsable por los daños o pérdidas que se pudieran originar debido al no cumplimiento de esta obligación por tu parte.</p>


<p>Recogida de datos</p>

<p>Los datos que suministre el Cliente a DOCUTEA serán incorporados a un fichero de datos de carácter personal que se encuentran debidamente registrados ante la Agencia Española de Protección de Datos. La comunicación de los datos personales por parte del Cliente supone la aceptación expresa a la inclusión de los mismos en el fichero oportuno. </p>

<p>La no comunicación, o la comunicación incompleta de los datos obligatorios supondrán la imposibilidad de responder a una consulta o imposibilidad de la prestar el servicio y, por tanto, la resolución de la relación contractual.</p>


<p>Uso de los datos</p>

<p>Si el Cliente facilita sus datos en el apartado “Contacto” en la Plataforma, DOCUTEA utilizará sus datos para responder a las preguntas u observaciones.</p>

<p>Si el Cliente facilita sus datos para contratar alguno de los servicios de DOCUTEA, DOCUTEA utilizará LOS datos personales con la finalidad de prestar sus servicios, según el caso. </p>

<p>Asimismo, DOCUTEA podrá utilizar LOS datos personales para enviar al Cliente comunicaciones relacionadas con la prestación, mejora y actualización del servicio.</p>

<p>Además, DOCUTEA podrá enviar al Cliente información propia acerca de promociones, nuevas utilidades que se incorporen y ofertas aplicables a los servicios prestados al correo electrónico que nos has facilitado en el formulario.</p>

<p>DOCUTEA también podrá enviar publicidad acerca de otros servicios propios o de terceras empresas que mantengan relación con la finalidad de los servicios.</p>

<p>DOCUTEA no cederá a terceros los datos de carácter personal, excepto cuando tal cesión lo sea a favor de empresas que colaboren con DOCUTEA siempre y cuando su cesión sea estrictamente necesaria para la prestación del servicio.</p>

<p>Derechos del Cliente</p>

<p>Para ejercer los derechos de acceso, rectificación, oposición o cancelación, el Cliente puede dirigirse por escrito a  _DOCUTEA, S.L C/ AMADO NERVO 4, 28007 MADRID_____o a info@docute.es. debiendo acompañar una fotocopia de su DNI u otro documento oficial que te identifique de forma que podamos comprobar su identidad.</p>

<p>Cookies</p>

<p>DOCUTEA hace uso de cookies respecto de los usuarios que navegan en el sitio web. Las cookies son ficheros enviados al navegador, mediante un servidor web, con la finalidad de registrar las actividades de los usuarios durante su tiempo de navegación. Las cookies contienen información sobre las preferencias de los usuarios y sobre como usan nuestra página web, y permiten identificar su navegador en su siguiente visita a nuestra web. En la declaración de cookies explicamos qué cookies se almacenan y bajo qué propósitos</p>

<p>No obstante, el Cliente tiene la posibilidad de configurar su navegador para ser avisado de la recepción de cookies e impedir su instalación. Por favor, consulta las instrucciones y manuales de tu navegador para ampliar esta información.</p>

<h4><strong>15. Nulidad</strong></h4>

<p>La declaración de nulidad, ineficacia o invalidez de cualquiera de las presentes CG no afectarán a la validez de las restantes condiciones que permanecerán vigentes y serán vinculantes para las partes.</p>

<p>El no ejercicio por parte de DOCUTEA de cualquiera de los derechos manifestados en las presentes CG no se interpretará como renuncia a dicho derecho.</p>



<h4><strong>16. Normativa aplicable</strong></h4>

<p>Los contratos electrónicos se regirán por lo dispuesto en la Ley Sociedad de la Información y Comercio Electrónico, por los Códigos Civil y de Comercio y por las restantes normas civiles o mercantiles sobre contratos, en especial, las normas de protección de los consumidores y usuarios y de ordenación de la actividad comercial</p>

<p>Serán competentes para su jurisdicción los Tribunales del domicilio del consumidor a fin de resolver las posibles diferencias que puedan surgir derivadas del presente contrato. En el supuesto de que, de acuerdo con la normativa de defensa de los consumidores y usuarios, el cliente no tenga la consideración de consumidor serán competentes para su jurisdicción los Tribunales de la ciudad de Madrid.</p>





                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
