{% extends 'base.html.twig' %}

{% block content %}
    <div class="large-container large-container--white large-container--pad" id="shopping-cart-details">
        {{ include('store/cart_details_content.html.twig') }}
    </div>
{% endblock %}

